<#assign base=request.contextPath+"/rbac" />
<#assign cms=request.contextPath+"/cms" />
<#assign file=request.contextPath+"/re" />
<!DOCTYPE html>
<html>

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <!-- import CSS -->
        <link rel="stylesheet" href="${base}/lib/element-ui/index.css">

        <link href="${base}/lib/comm.css" rel="stylesheet" type='text/css' />

        <!--
        其他图标可上  http://www.iconfont.cn  挑选
        -->
        <!-- 使用font-awesome 字体图标 -->
        <link href="${base}/lib/font-icons/font-awesome/css/font-awesome.min.css" rel="stylesheet" type='text/css' />


    </head>




