<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../lib/layui/css/layui.css"/>
</head>

<body>
<div id="sdiv" class="wrapper-row" style="height:582px;overflow-x:hidden;overflow-y: auto;">
    <div id="_image" style="display: none">
        <img id="_image_img" src="" width="100%" height="100%">
    </div>
    <div id="_data" style="display: none">
        <div class="layui-row">
            <div class="layui-col-md5">
                <div class="grid-demo">
                    <div class="counts-liner">
                        <div class="echarts-title">服务港哨声占比</div>
                        <span class="btn-data excelOutpostAndEnterpriseWhistles">导出数据</span>
                    </div>
                    <div id="outpostNum" style=" height:360px;margin:20px auto 20px auto;padding: 0 40px;"><p
                            style="text-align: center;line-height: 300px;">暂无数据</p></div>
                </div>
            </div>
            <div class="layui-col-md7 layui-col-sm12 layui-col-xs12">
                <div class="grid-demo">
                    <div class="counts-liner">
                        <div class="echarts-title">企业吹哨占比</div>
                        <span class="btn-data excelEnterpriseWhistleByType">导出数据</span>
                    </div>
                    <div id="enterpriseWhistlePer" style=" height:360px;margin:20px auto 20px auto;padding: 0 40px;"><p
                            style="text-align: center;line-height: 300px;">暂无数据</p></div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-col-sm12  layui-col-xs12">
                <div class="grid-demo grid-demo-bg1">
                    <div class="counts-liner clearfix">
                        <div class="echarts-title">日新增哨声</div>
                        <!--<span class="btn-data excelDayAddUser">导出数据</span>-->
                        <div class="clearfix row-canvas">
                            <div class="layui-inline time-selecr">
                                <label class="layui-form-label">请选择日期</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="timeSelect1" placeholder="选择日期范围">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="rowContainer1" style="height: 100%;height: 300px"><p>暂无数据</p></div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-col-sm12  layui-col-xs12">
                <div class="grid-demo">
                    <div class="counts-liner clearfix">
                        <div class="echarts-title">月新增哨声</div>
                        <!--<span class="btn-data excelMonthAddUser">导出数据</span>-->
                        <div class="clearfix row-canvas">
                            <div class="layui-inline time-selecr">
                                <label class="layui-form-label">请选择年月</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="timeSelect4" placeholder="选择日期范围">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="rowContainer4" style="height: 100%;height: 300px;"><p>暂无数据</p></div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-col-sm12  layui-col-xs12">
                <div class="grid-demo">
                    <div class="counts-liner clearfix">
                        <div class="echarts-title">响应部门综合信息表</div>
                        <span class="btn-data excelDeptInfoStatistical" >导出数据</span>
                    </div>
                    <table lay-filter="test" class="layui-hide" id="deptInfo"></table>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="../../lib/layui/layui.js"></script>
<script src="../../lib/layui/echarts.common.min.js"></script>
<script>

    var startTime = '';
    var endTime = '';
    var statisticalDataPermission = ${statisticalDataPermission};
    var defaultImg = '${base}/lib/img/defaultImg3.png';
    var getDeptInfoStatisticalUrl = '${base}/statisticalQuery/getDeptInfoStatistical';
    var getEnterpriseWhistleByTypeStatisticalUrl = '${base}/statisticalQuery/getEnterpriseWhistleByTypeStatistical';
    var getOutpostAndEnterpriseWhistlesUrl = '${base}/outpost/getOutpostAndEnterpriseWhistles';
    var getNewEnterpriseWhistleMonthUrl = '${base}/statisticalQuery/getNewEnterpriseWhistleMonth';
    var getNewEnterpriseWhistleDayUrl = '${base}/statisticalQuery/getNewEnterpriseWhistleDay';
    var excelOutpostAndEnterpriseWhistlesUrl = '${base}/outpost/excelOutpostAndEnterpriseWhistles';
    var excelEnterpriseWhistleByTypeUrl = '${base}/statisticalQuery/excelEnterpriseWhistleByType';
    var excelMonthAddUserUrl = '${base}/statisticalQuery/excelMonthAddUser';
    var excelDayAddUserUrl = '${base}/statisticalQuery/excelDayAddUser';
    var excelDeptInfoStatisticalUrl = '${base}/statisticalQuery/excelDeptInfoStatistical';
    function initFunction() {
        if (statisticalDataPermission == 1){
            $('#_data').show();
            //日新增哨声
            initAjaxLine(getDay(-7), getDay(0));
            //月新增哨声
            var setMonths = getPreMonthDay(getDay(0), 7);
            initAjaxLineMounthAddUser(setMonths.slice(0, 7), getDay(0).slice(0, 7));
            //人数统计
            initEnterpriseWhistleCount();
            //根据服务港统计哨声数量
            initOutpostCount();
            //加载相应部门表格
            initDeptTable();


        }else {
            $('#_image_img').attr("src",defaultImg);
            $('#_image').show();
        }
    }

    $(document).ready(function (){
        $("#sdiv").css("height", sessionStorage.getItem("sheight") + 'px');
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            laydate.render({
                elem: '#timeSelect1',
                range: true,
                value: '',
                max: 0,
                done: function (value, date) {
                    startTime = value.slice(0, 10);
                    endTime = value.slice(13, 23);
                    initAjaxLine(value.slice(0, 10), value.slice(13, 23))
                }
            });
            laydate.render({
                elem: '#timeSelect4',
                type: 'month',
                range: true,
                max: 0,
                done: function (value) {
                    startTime = value.slice(0, 10);
                    endTime = value.slice(13, 23);
                    initAjaxLineMounthAddUser(value.slice(0, 7), value.slice(10, 23))
                }
            });
        });
        initFunction();
        $('.excelOutpostAndEnterpriseWhistles').bind('click',function(){
            exportStatistics(excelOutpostAndEnterpriseWhistlesUrl,'服务港哨声数量统计.xls')
        });
        $('.excelEnterpriseWhistleByType').bind('click',function(){
            exportStatistics(excelEnterpriseWhistleByTypeUrl,'企业吹哨占比统计.xls')
        });
        $('.excelDayAddUser').bind('click',function(){
            if (startTime == '' || endTime == ''){
                exportStatistics(excelDayAddUserUrl,'新增哨声统计.xls',getDay(-7), getDay(0))
            }else {
                exportStatistics(excelDayAddUserUrl,'新增哨声统计.xls',startTime,endTime)
            }
        });
        $('.excelMonthAddUser').bind('click',function(){
            if (startTime == '' || endTime == ''){
                var setMonths = getPreMonthDay(getDay(0), 7);
                exportStatistics(excelMonthAddUserUrl,'新增哨声统计.xls',setMonths.slice(0, 7), getDay(0).slice(0, 7))
            }else {
                exportStatistics(excelMonthAddUserUrl,'新增哨声统计.xls',startTime,endTime)
            }
        });
        $('.excelDeptInfoStatistical').bind('click',function(){
            exportStatistics(excelDeptInfoStatisticalUrl,'响应部门综合信息表.xls')
        });
    });
    function getDay(day) {
        var today = new Date();
        var targetday_milliseconds = today.getTime() + 1000 * 60 * 60 * 24 * day;
        today.setTime(targetday_milliseconds); //注意，这行是关键代码
        var tYear = today.getFullYear();
        var tMonth = today.getMonth();
        var tDate = today.getDate();
        tMonth = doHandleMonth(tMonth + 1);
        tDate = doHandleMonth(tDate);
        return tYear + "-" + tMonth + "-" + tDate;
    }
    function doHandleMonth(month) {
        var m = month;
        if (month.toString().length == 1) {
            m = "0" + month;
        }
        return m;
    }
    function getPreMonthDay(date, monthNum) {
        let dateArr = date.split('-')
        let year = dateArr[0] //获取当前日期的年份
        let month = dateArr[1] //获取当前日期的月份
        let day = dateArr[2] //获取当前日期的日
        let days = new Date(year, month, 0)
        days = days.getDate() //获取当前日期中月的天数
        let year2 = year
        let month2 = parseInt(month) - monthNum
        if (month2 <= 0) {
            year2 =
                parseInt(year2) -
                parseInt(month2 / 12 == 0 ? 1 : Math.abs(parseInt(month2 / 12)) + 1)
            month2 = 12 - (Math.abs(month2) % 12)
        }
        let day2 = day
        let days2 = new Date(year2, month2, 0)
        days2 = days2.getDate()
        if (day2 > days2) {
            day2 = days2
        }
        if (month2 < 10) {
            month2 = '0' + month2
        }
        let t2 = year2 + '-' + month2 + '-' + day2
        return t2
    };
    function initAjaxLine(startTime, endTime) {
        $.ajax({
            url:getNewEnterpriseWhistleDayUrl,
            data: JSON.stringify({
                "startTime": startTime,
                "endTime": endTime
            }),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            type: 'post',
            success: function (res) {
                var bottomTitle = [],
                    lineVal = [];
                if (res.code == '-1000') {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.open({
                            title: '消息提示'
                            , content: res.message
                        });
                    });
                } else {
                    if (res.body.days != '') {
                        res.body.days.map(function (item, index, input) {
                            bottomTitle.push(item.day.slice(5, 10));
                            lineVal.push(item.value)
                            return item;
                        });
                        var dom = document.getElementById("rowContainer1");
                        var myChart = echarts.init(dom);
                        var app = {};
                        var option = {
                            tooltip: {
                                trigger: 'axis'
                            },
                            xAxis: {
                                type: 'category',
                                data: bottomTitle,
                                axisLabel: {
                                    rotate: 60
                                }
                            },
                            grid: {
                                right: '0%',
                                left: '5%',
                                top: '25px'
                            },
                            yAxis: {
                                type: 'value'
                            },
                            series: [{
                                data: lineVal,
                                type: 'line'

                            }]
                        };
                        ;
                        if (option && typeof option === "object") {
                            myChart.setOption(option, true);
                        }
                    } else {
                        $('#rowContainer1').html('<p>暂无数据</p>')
                    }
                }


            }
        });
    }
    function initAjaxLineMounthAddUser(startTime, endTime) {
        if (startTime == '' || endTime == ''){
            return;
        }
        $.ajax({
            url: getNewEnterpriseWhistleMonthUrl,
            data: JSON.stringify({
                "startTime": startTime,
                "endTime": endTime
            }),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            type: 'post',
            success: function (res) {
                var bottomTitle = [],
                    lineVal = [];
                if (res.code == '-1000') {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.open({
                            title: '消息提示'
                            , content: res.message
                        });
                    });
                } else {
                    if (res.body != null && res.body.months != '') {
                        res.body.months.map(function (item, index, input) {
                            bottomTitle.push(item.month.slice(0, 10));
                            lineVal.push(item.value)
                            return item;
                        });
                        var dom = document.getElementById("rowContainer4");
                        var myChart = echarts.init(dom);
                        var option = {
                            tooltip: {
                                trigger: 'axis'
                            },
                            xAxis: {
                                type: 'category',
                                data: bottomTitle,
                                axisLabel: {
                                    rotate: 60
                                }
                            },
                            grid: {
                                right: '0%',
                                left: '5%',
                                top: '25px'
                            },
                            yAxis: {
                                type: 'value'
                            },
                            series: [{
                                data: lineVal,
                                type: 'line'
                            }]
                        };
                        if (option && typeof option === "object") {
                            myChart.setOption(option, true);
                        }
                    } else {
                        $('#rowContainer4').html('<p>暂无数据</p>')
                    }
                }
            }
        });
    }
    //统计收到的哨声类型占比
    function initEnterpriseWhistleCount() {
        $.ajax({
            url: getEnterpriseWhistleByTypeStatisticalUrl,
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            type: 'post',
            success: function (res) {
                var itemName = [], valObj = [];
                res.body.map(function (item, index) {
                    itemName.push(item.identityName);
                    valObj.push(item.total);
                });
                var dom = document.getElementById("enterpriseWhistlePer");
                var myChart = echarts.init(dom);
                var option = {
                    tooltip : {
                        trigger: 'item',
                        formatter:   function(params) {
                             return Math.round(params.value/res.message * 1000)/10+"%";
                        }
                    },
                    grid: {
                        right: '0%',
                        left: '8%',
                        top:'25px',
                        bottom:'25px'
                    },
                    toolbox: {
                        show : true
                    },
                    calculable : true,
                    color: [
                        '#87cefa', '#87cefa', '#da70d6', '#32cd32', '#6495ed',
                        '#ff69b4', '#ba55d3', '#cd5c5c', '#ffa500', '#40e0d0',
                        '#1e90ff', '#ff6347', '#7b68ee', '#00fa9a', '#ffd700',
                        '#6b8e23', '#ff00ff', '#3cb371', '#b8860b', '#30e0e0'
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            boundaryGap : [0, 0.01]
                        }
                    ],
                    xAxis : [
                        {
                            type : 'category',
                            data : itemName,
                            axisLabel: {
                                interval: 0,
                                rotate: 0,     //文字逆时针旋转45°
                                textStyle: {    //文字样式
                                    color: "black",
                                    fontSize: 12,
                                    fontFamily: 'Microsoft YaHei'
                                }
                            }
                        }
                    ],
                    series : [
                        {
                            type: 'bar',
                            data: valObj,
                            // label:{
                            //     normal:{
                            //         show:true,
                            //         position:'top',                
                            //         formatter:'{c}'                
                            //     }
                            //
                            // }
                        }
                    ]
                };
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
            }
        });
    }
    //查询服务港哨声占比
    function initOutpostCount() {
        $.ajax({
            url: getOutpostAndEnterpriseWhistlesUrl,
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            type: 'get',
            success: function (res) {
                var itemName = [], valObj = {}, arrName = [];
                res.body.map(function (item, index) {
                    itemName.push(item.name);
                    valObj[index] = {value: item.countNUM, name: item.name};
                    arrName.push(valObj[index]);
                });
                var dom = document.getElementById("outpostNum");
                var myChart = echarts.init(dom);
                var option = {
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '80px'
                    },
                    series: [
                        {
                            name: '哨声占比:',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '55%'],
                            data: arrName,
                            labelLine: {
                                normal: {
                                    length: 5
                                }
                            },
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            },
                            label: {
                                normal: {
                                    formatter: '{b}{d}%',//模板变量有 {a}、{b}、{c}、{d}，分别表示系列名，数据名，数据值，百分比。{d}数据会根据value值计算百分比
                                    textStyle: {
                                        align: 'center',
                                        baseline: 'middle',
                                        fontFamily: '微软雅黑',
                                        fontSize: 10
                                    }
                                }
                            }
                        }
                    ]
                };
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
            }
        });
    }
    //加载相应部门表格
    function initDeptTable() {
        layui.use('table', function(){
            var table = layui.table;
            //展示已知数据
            table.render({
                elem: '#deptInfo'
                ,method:'post'
                ,url: getDeptInfoStatisticalUrl //数据接口
                ,response: {
                    statusName: 'code' //规定数据状态的字段名称，默认：code
                    ,statusCode: 0 //规定成功的状态码，默认：0
                    ,msgName: 'msg' //规定状态信息的字段名称，默认：msg
                    ,countName: 'total' //规定数据总数的字段名称，默认：count
                    ,dataName: 'body' //规定数据列表的字段名称，默认：data
                }
                ,cols: [[ //标题栏
                    {field: 'name', title: '部门名称'}
                    ,{field: 'total', title: '总哨声',sort:true}
                    ,{field: 'complete', title: '已解决哨声',sort:true}
                    ,{field: 'deal', title: '受理中哨声',sort:true}
                    ,{field: 'overtime', title: '超时处理哨声',sort:true}
                    ,{field: 'goodPer', title: '好评率',sort:true}
                    ,{field: 'completePer', title: '完结率',sort:true}
                ]]
                ,even: true
                ,page: false
                ,done:function(res){
                    // console.log(res.body)
                }
            });
            table.on('sort(test)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                table.reload('deptInfo', { //testTable是表格容器id
                   /* initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。 layui 2.1.1 新增参数
                    ,*/where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                        field: obj.field //排序字段
                        ,order: obj.type //排序方式
                    }
                });
            });
        });
    }
    var get = function(e){
        var newStr=" ";
        var start,end;
        var name_len=e.name.length;    　　　　　　　　　　　　   //每个内容名称的长度
        var max_name=6;    　　　　　　　　　　　　　　　　　　//每行最多显示的字数
        var new_row = Math.ceil(name_len / max_name); 　　　　// 最多能显示几行，向上取整比如2.1就是3行
        if(name_len>max_name){ 　　　　　　　　　　　　　　  //如果长度大于每行最多显示的字数
            for(var i=0;i<new_row;i++){ 　　　　　　　　　　　   //循环次数就是行数
                var old='';    　　　　　　　　　　　　　　　　    //每次截取的字符
                start=i*max_name;    　　　　　　　　　　     //截取的起点
                end=start+max_name;    　　　　　　　　　  //截取的终点
                if(i==new_row-1){    　　　　　　　　　　　　   //最后一行就不换行了
                    old=e.name.substring(start);
                }else{
                    old=e.name.substring(start,end)+"\n";
                }
                newStr+=old; //拼接字符串
            }
        }else{                                          //如果小于每行最多显示的字数就返回原来的字符串
            newStr=e.name;
        }
        return newStr+e.value+"%";
    }
    function exportStatistics(_url,fileName,param1,param2){
        if (param1 && param2){
            _url += '?startTime='+ param1 + '&endTime='+ param2;
            fileName =  '【' + param1 + '至' + param2 + '】' + fileName;
        }
        axios({
            method: 'get',
            url:  _url,
            data: {},
            responseType: 'blob'
        }).then((data) => {
            let url = window.URL.createObjectURL(data.data);
            let link = document.createElement('a');
            link.style.display = 'none';
            link.href = url;
            link.setAttribute('download', fileName);
            document.body.appendChild(link);
            link.click();
        })
    }


</script>

</html>
