<#include "/comm/head.html">
<body>
<div id="app">

    <div class="demo-form-inline"  style="padding: 5px 20px 0px 0px;width: 100%;">


        <el-form status-icon :model="formData" :rules="rules" ref="formData" label-width="80px" style="width: 100%;">
            <el-row>
                <el-col :span="24">
                    <el-form-item label="组名" prop="groupName">
                        <el-input v-model="formData.groupName" placeholder="请输入内容"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="24">
                    <el-form-item label="备注" prop="notes">
                    <el-input type="textarea" v-model="formData.notes"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="24">
                    <el-form-item label="选择组织" >
                        <el-tree
                                :data="data2"
                                show-checkbox
                                default-expand-all
                                node-key="id"
                                ref="tree"
                                leafOnly="true"
                                highlight-current
                                :default-expand-all="false"
                                :default-checked-keys="resourceCheckedNodes"
                                :props="defaultProps">
                        </el-tree>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-form-item>
               <el-button type="primary" icon="el-icon-check" @click="save()">保存</el-button>
                <el-button type="info" icon="el-icon-close" @click="close()">关闭</el-button>
            </el-form-item>
        </el-form>

    </div>

</div>

<#include "/comm/js.html">
<#include "/comm/ztree.html">

<script type="text/javascript">


    let entity = ${entity};
    let dateResource = ${dateResource};
    let longList2 = ${longList2};

    let {id='',sort='',notes='',groupName='',usersGroupInfoList=''} = entity;

    var vue = loadForm(
        {
            methods:{
                handleCheckChange:function(data, checked, indeterminate) {
                    console.log(data, checked, indeterminate);
                },
                handleNodeClick:function(data) {
                    console.log(data);
                },
                getCheckedKeys:function() {
                    console.log(this.$refs.tree.getCheckedKeys());
                },
                getCheckedNodes:function() {
                    console.log(this.$refs.tree.getCheckedNodes());
                },
                beforeSave:function(){
                    let nodes = this.$refs.tree.getCheckedNodes();
                    this.userIds2(nodes);
                    this.formData.usersGroupInfoList = this.userIds;
                    return true;
                },
                setCheckedKeys:function() {
                    this.$refs.tree.setCheckedKeys([3]);
                },
                add2:function(){
                    this.data2=${dateResource};
                    vue.add();
                },
                loadNode:function(node, resolve) {
                    if (node.level === 0) {
                        return resolve([{name: 'region1'}, {name: 'region2'}]);
                    }
                    if (node.level > 3) return resolve([]);

                    var hasChild;
                    if (node.data.name === 'region1') {
                        hasChild = true;
                    } else if (node.data.name === 'region2') {
                        hasChild = false;
                    } else {
                        hasChild = Math.random() > 0.5;
                    }
                    setTimeout(function () {
                        var data;
                        if (hasChild) {
                            data = [{
                                name: 'zone' + this.count++
                            }, {
                                name: 'zone' + this.count++
                            }];
                        } else {
                            data = [];
                        }
                        resolve(data);
                    },500)
                },
                userIds2:function(nodes) {
                    let users = [];
                    for (var i = 0; i < nodes.length; i++) {
                        if (!nodes[i].items){
                            if (nodes[i].type = 4){
                                users.push(nodes[i])
                            }
                        }
                    }
                        let userList = [];
                    if (users == null || users == undefined || users == '' || users.length <0){
                    }else {
                        for (var i = 0; i < users.length; i++) {
                            if (users[i].id){
                                userList.push(users[i].id)
                            }
                        }
                    }
                    if (userList == null || userList == undefined || userList == '' || userList.length <0){
                        this.userIds = [];
                    }else {
                        this.userIds = userList;
                    }
                    console.log(this.userIds);
                },
                getKey:function(id) {
                    that.$refs.tree.setCheckedKeys([1,2,3]);//获取已经设置的资源后渲染
                }
            },

            formData:{
                   id:id
                  ,notes:notes
                  ,groupName:groupName
                  ,usersGroupInfoList:this.userIds
                  ,dateResource:dateResource
                  ,longList2:longList2
            },
            rules: {
                groupName:[
                    { required: true, message: '请输入组名', trigger: 'blur' },
                    { min: 1, max: 20, message: '长度在 1 到 20 个字符', trigger: 'blur' }
                ],
                usersGroupInfoList:[
                ]

            },
            data:{
                btnAddShow:(entity.id?false:true) ,
                userIds:[],
                resourceCheckedNodes: longList2,
                data2: dateResource,
                defaultProps: {
                    children: 'items',
                    label: 'name'
                }
            },
            urlSave:'${base}/groupinfo/save',
            dialogIndex:0,
            iframe:'${iframe}'
        }
    );
</script>
</body>
</html>

