<#include "/comm/head.html"/>

<style>
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 130px;
        height: 130px;
        line-height: 130px;
        text-align: center;
    }

    .avatar {
        width: 130px;
        height: 130px;
        display: block;
    }

</style>
<script type="text/javascript" charset="utf-8" src="${cmsPath}/lib/cropper/jquery.js"></script>
<body>
<div id="app">

    <div class="demo-form-inline" style="padding: 5px 10px 0px 0px;">
        <el-form status-icon :model="formData" :rules="rules" ref="formData" label-width="110px">
            <el-row>
                <el-col :span="12">
                    <el-form-item label="标题" prop="title">
                        <el-input v-model="formData.title"
                                  placeholder="请输入内容"></el-input>
                    </el-form-item>
                </el-col>
                <!--<el-col :span="12">
                    <el-form-item  label="业务类型" prop="bizType">
                        <el-select style="width: 100%;" v-model="formData.bizType"  placeholder="请选择业务类型" >
                            <el-option v-for="(item, index) in bizTypeList" :key="item.id" :value="item.id"
                                       :label="item.name"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>-->
                <!--<el-col :span="24">
                    <el-form-item label="简介"  prop="textContent">
                        <el-input v-model="formData.textContent"
                                  placeholder="请输入内容"></el-input>
                    </el-form-item>

                </el-col>-->
                <!--<el-form-item label="备注" prop="notes">
                        <el-input type="textarea"
                                  v-model="formData.notes"></el-input>
                    </el-form-item>-->
                <!--<el-col :span="12">
                    <el-form-item label="图片" prop="imgUrl">
                        <input type="hidden" v-model="formData.imgUrl"/>
                        <el-upload
                                class="avatar-uploader"
                                action="${filebase}/server/upload"
                                :show-file-list="false"
                                accept=".jpg,.png"
                                :on-success="handleAvatarSuccessIcon"
                                :before-upload="handBeforeUpload"
                                :disabled="formData.recordStatus == 1">
                            <img v-if="imageUrlIcon" :src="imageUrlIcon" class="avatar">
                            <i v-else class="el-icon-plus avatar-uploader-icon" style="line-height: 125px;"></i>
                        </el-upload>
                    </el-form-item>
                </el-col>-->

                <el-col :span="24">
                    <el-form-item  label="编辑消息内容" id="_edit">
                        <#include "/comm/ueditor.html"/>
                    </el-form-item>
                </el-col>


                <!--<el-col :span="12" v-if="formData.bizType == 1">
                    <el-form-item label="人员选择" prop="title">
                        <el-tree
                                :data="data2"
                                show-checkbox
                                default-expand-all
                                node-key="id"
                                ref="tree"
                                leafOnly="true"
                                highlight-current
                                :default-expand-all="false"
                                :default-checked-keys="messageReceiverByGroupInfoIsNull"
                                :props="defaultProps">
                        </el-tree>
                    </el-form-item>
                </el-col>-->
                <!--<el-col :span="12" v-if="formData.bizType == 1">
                    <el-form-item label="小组选择" prop="title">
                        <el-tree
                                :data="data3"
                                show-checkbox
                                default-expand-all
                                node-key="id"
                                ref="tree2"
                                leafOnly="true"
                                highlight-current
                                :default-expand-all="false"
                                :default-checked-keys="messageReceiverByGroupInfo"
                                :props="defaultProps2">
                        </el-tree>
                    </el-form-item>
                </el-col>-->
            </el-row>
            <el-form-item>
                <el-button type="primary" v-show="showRecordStatus" icon="el-icon-check" @click="save()">保存</el-button>
                <el-button type="info" v-show="showRecordStatus" icon="el-icon-close" @click="close()">关闭</el-button>
            </el-form-item>
        </el-form>

    </div>

</div>

<#include "/comm/js.html"/>

<script type="text/javascript">
    var v = window.parent.vue;
    let entity = ${entity};
    /*let messageReceiverByGroupInfoIsNull = ${messageReceiverByGroupInfoIsNull};
    let messageReceiverByGroupInfo = ${messageReceiverByGroupInfo};*/
    let {id = '', sort = '', notes = '', textContent = '', imgUrl = '', content = '', title = '', isRead = '', bizType = '', pushType = '', os = '', recordStatus = '', alias = '', taskId = '', bizModel = '',
        messageReceiverList = '', userGroupInfoPOS = '', userIds = '', groupInfo = '' } = entity;
    var vue = loadForm(
        {
            methods: {
                handBeforeUpload: function (file) {
                    if(file.name.indexOf(".jpg") == -1 && file.name.indexOf(".png") == -1){
                        v.$message({type: 'error', message: '图片必须是.jpg或.png格式'});
                        return false;
                    }
                },
                handleAvatarSuccessIcon: function (res, file) {
                    //console.log("===============" + JSON.stringify(res));
                    this.imageUrlIcon = res.body.fileUrl;
                    this.formData.imgUrl = res.body.fileUrl;
                },
               /* bizTypeChange: function (val) {
                    if (val === 3) {
                        $('#_edit').hide(500);
                    } else {
                        $('#_edit').show(500);
                    }
                },*/
                handleCheckChange: function (data, checked, indeterminate) {
                    console.log(data, checked, indeterminate);
                },
                handleNodeClick: function (data) {
                    console.log(data);
                },
                getCheckedKeys: function () {
                    console.log(this.$refs.tree.getCheckedKeys());
                },
                getCheckedNodes: function () {
                    console.log(this.$refs.tree.getCheckedNodes());
                },
                getHalfCheckedNodes: function () {
                    console.log(this.$refs.tree.getCheckedNodes());
                },
                beforeSave: function () {
                    //element 获取选中的数据
                    /*if (this.formData.bizType == 1) {
                        let nodes = this.$refs.tree.getCheckedNodes();
                        this.userIds2(nodes);
                        this.formData.messageReceiverList = this.userIds;

                        //获取半选中以及选中的数据
                        let nodes2 = this.$refs.tree2.getCheckedNodes().concat(this.$refs.tree2.getHalfCheckedNodes());
                        this.groupInfo2(nodes2);
                        this.formData.userGroupInfoPOS = this.groupInfo;
                    }*/
                    console.log(this.formData.bizType);
                    if (ue.hasContents()) {
                        this.formData.content = ue.getContent();
                    } else {
                        v.$message.error("内容不能为空");
                        return;
                    }
                    return true;
                },
                setCheckedKeys: function () {
                    this.$refs.tree.setCheckedKeys([3]);
                },
                /*loadNode: function (node, resolve) {
                    if (node.level === 0) {
                        return resolve([{name: 'region1'}, {name: 'region2'}]);
                    }
                    if (node.level > 3) return resolve([]);

                    var hasChild;
                    if (node.data.name === 'region1') {
                        hasChild = true;
                    } else if (node.data.name === 'region2') {
                        hasChild = false;
                    } else {
                        hasChild = Math.random() > 0.5;
                    }
                    setTimeout(function () {
                        var data;
                        if (hasChild) {
                            data = [{
                                name: 'zone' + this.count++
                            }, {
                                name: 'zone' + this.count++
                            }];
                        } else {
                            data = [];
                        }
                        resolve(data);
                    }, 500)
                },*/
                /*userIds2: function (nodes) {
                    let users = [];
                    for (var i = 0; i < nodes.length; i++) {
                        if (!nodes[i].items) {
                            if (nodes[i].type = 4) {
                                users.push(nodes[i])
                            }
                        }
                    }
                    let userList = [];
                    if (users == null || users == undefined || users == '' || users.length < 0) {
                    } else {
                        for (var i = 0; i < users.length; i++) {
                            if (users[i].id) {
                                userList.push(users[i].id)
                            }
                        }
                    }
                    if (userList == null || userList == undefined || userList == '' || userList.length < 0) {
                        this.userIds = [];
                    } else {
                        this.userIds = userList;
                    }
                },*/
                /*groupInfo2: function (nodes) {
                    let users = [];
                    let groupInfoIds = [];

                    for (var i = 0; i < nodes.length; i++) {
                        if (!nodes[i].items) {
                            if (nodes[i].type = 2) {
                                users.push(nodes[i])
                            }
                        }
                        if ((nodes[i]).items) {
                            // console.log(nodes[i]);
                            groupInfoIds.push(nodes[i])
                        }
                    }
                    //获取小组的信息

                    let userList = [];
                    for (var i = 0; i < groupInfoIds.length; i++) {
                        let userList2 = groupInfoIds[i].items;
                        for (var i2 = 0; i2 < userList2.length; i2++) {
                            var temp = userList2[i2];
                            for (var j = 0; j < users.length; j++) {
                                if (temp.id === users[j].id) {
                                    let userMap = {};
                                    userMap.groupId = groupInfoIds[i].id.split(".")[0];
                                    userMap.userId = temp.id.split(".")[0];
                                    userList.push(userMap);

                                    break;
                                }
                            }
                        }
                    }

                    if (userList == null || userList == undefined || userList == '' || userList.length < 0) {
                        this.groupInfo = [];
                    } else {
                        this.groupInfo = userList;
                    }
                },*/
                dianji: function (row) {
                }
            },
            formData: {
                id: id
                //, notes: notes
                , textContent: textContent
                , content: ''
                , title: title
                , bizType: '2'
                , pushType: pushType.toString()
                , recordStatus: recordStatus.toString()
                , alias: alias
                , imgUrl: imgUrl
                , taskId: taskId
                , bizModel: bizModel
               // , dateResource: dateResource
               // , groupInfoByUserIds: groupInfoByUserIds
               /* , messageReceiverByGroupInfoIsNull: messageReceiverByGroupInfoIsNull
                , messageReceiverByGroupInfo: messageReceiverByGroupInfo*/
            },
            rules: {
                /*textContent: [
                    {required: true, message: '请输入文本消息内容', trigger: 'blur'},
                    {min: 1, max: 500, message: '长度在 1 到 500 个字符', trigger: 'blur'}
                ],*/
                title: [
                    {required: true, message: '请输入标题', trigger: 'blur'},
                    {min: 1, max: 30, message: '长度在 1 到 20 个字符', trigger: 'blur'}
                ]/*,
                bizType: [
                    {required: true, message: '请选择业务类型', trigger: 'change'}
                ]*/
            },
            data: {
                btnAddShow: (entity.id ? false : true),
                showRecordStatus: (entity.recordStatus == 1 ? false : true)
                ,
                bizTypeList: [
                    {id: '1', name: '推送'},
                    {id: '2', name: '公告'}
                ]
                ,
                pushTypeList: [
                    {id: '1', name: '单播'},
                    {id: '2', name: '列播'},
                    {id: '3', name: '文件播'},
                    {id: '4', name: '广播'},
                    {id: '5', name: '组播'},
                    {id: '6', name: '自定义播'}
                ]
                ,
                osList: [
                    {id: '1', name: '安卓'},
                    {id: '2', name: 'iOS'}
                ]
                ,
                recordStatusList: [
                    {id: '1', name: '成功'},
                    {id: '-1', name: '失败'}
                ]
                ,
                flagList: [
                    {id: '1', name: '是'}
                    , {id: '0', name: '否'}
                ],
                //data2: dateResource,
               // data3: groupInfoByUserIds,
                defaultProps: {
                    children: 'items',
                    label: 'name'
                },
                defaultProps2: {
                    children: 'items',
                    label: 'name'
                },
               /* userIds: [],
                groupInfo: []
                ,*/
               /* messageReceiverByGroupInfoIsNull: messageReceiverByGroupInfoIsNull
                ,
                messageReceiverByGroupInfo: messageReceiverByGroupInfo
                ,*/
                imageUrlIcon: (entity.imgUrl ? entity.imgUrl + '?imageMogr2/thumbnail/360x360/format/webp/quality/100' : "")
            },
            urlSave: '${base}/pushmessagelog/save',
            dialogIndex: 0,
            dialogWidth: 1200,
            dialogHeight: 1100,
            iframe: '${iframe}'
        }
    );
    //vue.bizTypeChange(bizType);

</script>
</body>
</html>

