<#include "/comm/head.html">
<body>
<style>
    .el-header .el-input__inner {
        width: 300px;
    }
    .el-header {
        height: 50px!important;
    }
    .el-main {
        padding: 0px!important;
        margin: 10px!important;
        overflow:visible !important;
    }
</style>
<div id="app_department">

    <el-container>
        <el-header style="width: 700px;">

            <div style="padding-top: 10px;">
                <el-alert
                        title="【注意】 您的选择将会成为统计信息的X轴维度，请谨慎选择"
                        type="success"
                        close-text="已知晓"
                        show-icon>
                </el-alert>
            </div>
        </el-header>
        <el-main>

            <el-tree :data="data3" check-strictly="true" :default-expanded-keys="defaultOpen" show-checkbox node-key="id" ref="tree"  :props="defaultProps" :default-checked-keys="defaultSelected">
            </el-tree>
            <div class="buttons" style="margin-top: 15px;">
                <el-button type="success" style="width: 600px;" icon="el-icon-check" @click="getCheckedNodes">保存</el-button>
            </div>

        </el-main>
    </el-container>


</div>

<#include "/comm/js.html">

<script type="text/javascript">

    var v = window.parent.vue;
    var Main = {
        methods: {
            getCheckedNodes:function() {
                var val = this.$refs.tree.getCheckedNodes();
                if (val.length < 1){
                    v.$message.error("请至少选择一个");
                    return;
                }
                var departmentList = [];
                val.forEach(function(item){
                    departmentList.push(item.id);
                });
                axios.post('${base}/departmentstatistical/save',{'departmentList':departmentList} ).then(function (res) {
                    if (res.data.code == 0){
                        v.$message({
                            message: '保存成功',
                            type: 'success'
                        });
                        location.reload();
                    }else {
                        v.$message.error(res.data.message);
                    }
                }).catch(function (err) {
                    v.$message.error("操作失败，请稍后重试...");
                });
            }
        },
        data() {
            return {
                data3:${departments},
                defaultProps: {
                    children: 'children',
                    label: 'label',
                    disabled: 'leaf'
                },
                defaultSelected :${defaultSelected},
                defaultOpen:${defaultSelected},
                i:0
            };
        }
    };
    var Ctor = Vue.extend(Main);
    new Ctor().$mount('#app_department')

</script>

</body>

