<#include "/comm/head.html">
<link rel="stylesheet" type="text/css" href="${base}/lib/login/css/styles.css">
<body>
<div class="htmleaf-container">
	<div class="wrapper">
		<div class="container">
			<h1>Welcome</h1>

			<!--<el-form :model="formData" status-icon :rules="rules" ref="formData" class="form">
				<input type="text" v-model="formData.loginName" placeholder="登录名/手机号/邮箱/工号"/>
				<input type="password" v-model="formData.pwd" placeholder="密码"/>
				<button id="login-button" @click="submitForm()">登录</button>
			</el-form>
			<el-form :model="formData" status-icon :rules="rules" ref="formData" class="form">
					<input type="text" v-model="formData.loginName" placeholder="登录名/手机号/邮箱/工号"/>
					<input type="pwd" v-model="formData.pwd" placeholder="密码"/>
					<button type="submit" id="login-button">登录</button>
			</el-form>-->


			<form class="form">
				<input type="text" name="loginName" id="loginName" required placeholder="登录名/手机号/邮箱/工号">
				<input type="password" name="pwd" id="pwd" required placeholder="密码">
				<button type="submit" id="login-button" >登录</button>
			</form>
		</div>
		
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</div>
<#include "/comm/js.html">
<script src="${base}/lib/login/js/jquery-2.1.1.min.js"></script>
<script>
$('#login-button').click(function (event) {
	event.preventDefault();

	if($("#loginName").val() == '' || $("#loginName").val() == null || $("#pwd").val() == '' || $("#pwd").val() == null){
	    return;
	}else{
        //$('form').fadeOut(500);
        //$('.wrapper').addClass('form-success');
        axios.post('${base}/sys/login',{'loginName':$("#loginName").val(),'pwd':$("#pwd").val(),'os':'6','idEntity':'6'}).then(function (res) {
            if (res.data.code === 0) {
                localStorage.setItem("token", res.data.body.token);
                localStorage.setItem("name", res.data.body.user.name);
				localStorage.setItem("id", res.data.body.user.id);
				localStorage.setItem("userType", res.data.body.user.userType);
                localStorage.setItem("headPic", res.data.body.user.headPic);
                //下方路径中的6表示身份id，后台为6
                location.href = "${base}/home/index/6?token="+res.data.body.token;
            } else {
                //v.$message({type: 'error', message: res.data.message});
                alert(res.data.message);
            }
        }).catch(function (err) {
            //v.$message({type: 'error', message: '网络错误，请稍后重试'});
            alert("网络错误，请稍后重试");
        });
    }

});

/*var vue = loadForm(
    {
        methods:{
            submitForm: function () {
                /!*$('form').fadeOut(500);
                $('.wrapper').addClass('form-success');*!/
                if(!this.formData.loginName){
                    v.$message({type: 'error', message: '请输入登录名'});
				}else if(!this.formData.pwd){
                    v.$message({type: 'error', message: '请输入密码'});
				}else{
                    axios.post('${base}/api/login',{'loginName':vue.formData.loginName,'pwd':vue.formData.pwd,'os':'1','idEntity':'1'}).then(function (res) {
                        if (res.data.code === 0) {
                            localStorage.setItem("token", res.data.body.token);
                            location.href = "${base}/home/index/1?token="+res.data.body.token;
                        } else {
                            v.$message({type: 'error', message: res.data.message});
                        }
                    }).catch(function (err) {
                        v.$message({type: 'error', message: '网络错误，请稍后重试'});
                    });
                }
            }
        },
        formData:{
            loginName:'',
            pwd:''
        }
    }
);*/


</script>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';color:#000000">
<h1>党建前哨站管理系统</h1>
</div>
</body>
</html>