<#include "/comm/head.html">
<body>
<style>
    .el-header, .el-footer {
        background-color: #B3C0D1;
        color: #333;
        text-align: center;
        line-height: 60px;
    }

    .el-aside {
        background-color: #545c64;
        color: #333;
        text-align: left;
        line-height: 200px;
    }

    .el-main {
        background-color: #E9EEF3;
        color: #333;
        text-align: center;
        line-height: 160px;
        padding: 0px;
        overflow:visible !important;
    }

    .el-tabs--border-card>.el-tabs__content {
        height: 100%;
        padding: 0px;
    }
    .el-tabs__nav{
        height: 38px;
    }
    .el-tabs__item{
        top:-60px;
    }
    .overflowY{
        overflow:visible !important;
    }
</style>
<div id="app">
    <div class="source" style="height:40px;padding-top: 5px;">
        <el-form :model="formData" status-icon :rules="rules" ref="formData" label-width="100px" class="demo-ruleForm">
            <el-form-item label="登录名" prop="loginName">
                <el-input type="text" v-model="formData.loginName" placeholder="登录名/手机号/邮箱/工号"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="pwd">
                <el-input type="pwd" v-model="formData.pwd"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm()">登录</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>

<#include "/comm/js.html">
<script src="${base}/lib/ztree/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
    var vue = loadForm(
        {
            methods:{
                submitForm: function () {
                    axios.post('${base}/api/login',{'loginName':vue.formData.loginName,'pwd':vue.formData.pwd,'os':'1','idEntity':'1'}).then(function (res) {
                        if (res.data.code === 0) {
                            localStorage.setItem("token", res.data.body.token);
                            var id = res.data.body.user.id;

                            location.href = "${base}/home/index/1?token="+res.data.body.token;

                            /*axios.get('${base}/resource/getLeftMenuList/'+id+"/1").then(function (res) {
                                if (res.data.code === 0) {
                                    alert(res.data.body);
                                    localStorage.setItem("menu", res.data.body);

                                } else {
                                    v.$message({type: 'error', message: res.data.message});
                                }
                            }).catch(function (err) {
                                v.$message({type: 'error', message: '网络错误，请稍后重试'});
                            });*/

                        } else {
                            v.$message({type: 'error', message: res.data.message});
                        }
                    }).catch(function (err) {
                        v.$message({type: 'error', message: '网络错误，请稍后重试'});
                    });
                }
            },
            formData:{
                loginName:'',
                pwd:''
            },
            rules: {
                loginName:{required: true, message: '请输入登录名', trigger: 'blur' },
                pwd:{required: true, message: '请输入登录密码', trigger: 'blur' }
            }
        }
    );

</script>