
<#include "/comm/head.html">
<body>
<div id="app">

    <div class="demo-form-inline" style="height:40px;padding-top: 5px;">


        <el-form status-icon :model="formData" :rules="rules" ref="formData">
            <el-form-item label="名称" prop="name">
                <el-input style="wdith:60px"  v-model="formData.name" placeholder="请输入内容"></el-input>
            </el-form-item>
            <el-form-item label="描述" prop="notes">
                <el-input style="wdith:80px;height: 80px;" type="textarea" v-model="formData.notes"></el-input>
            </el-form-item>
            <el-form-item label="排序号" prop="iSort">
                <el-input style="wdith:60px"  v-model="formData.iSort" placeholder="请输入内容"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" icon="el-icon-check" @click="save()">保存</el-button>
                <el-button type="info" icon="el-icon-close" @click="close()">关闭</el-button>
                <el-button type="primary" icon="el-icon-close" @click="showDialog()">弹出</el-button>
            </el-form-item>
        </el-form>

    </div>

</div>

<#include "/comm/js.html">

<script type="text/javascript">
    let entity = ${entity};
    let { id=null,name='',notes='',iSort=''} = entity;
    var vue = loadForm(
        {
            methods:{
                showDialog(){
                    v.dialogShow(1,{title:'新窗口',url:'${base}/tree/moduleEntrance/${iframe}',width:"1000px",height:"300px"})
                }
            },
            formData:{
                id:id,
                name:name,
                idParent:'${idParent}',
                gradationCode:'${gradationCode}',
                iSort:iSort,
                platform:"1",
                notes:notes
            },
            rules: {
                name:{ required: true, message: '请输入资源名称', trigger: 'blur' },
                iSort:{ required: true, message: '请输入排序号', trigger: 'blur' }
            },
            data:{
                btnAddShow:(entity.id?false:true)
            },
            urlSave:'${base}/tree/save',
            iframe:'${iframe}'
        }
    );

</script>
</body>
</html>