<#include "/comm/head.html">
<body>
<style>
    .el-header .el-input__inner {
        width: 140px;
    }
    .el-header {
        height: 50px!important;
    }
    .el-main {
        padding: 0px;
        margin: 10px;
        overflow:visible !important;
    }
    html, body, #app {
        height: 98%!important;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex: 1;
        overflow: auto;
    }
</style>

<div id="app" class="source">
    <el-container>
        <el-header>
            <div style="height:40px;padding-top: 10px;">
                <el-button-group>
                    <el-tooltip v-if="authentication(43)" class="item" effect="dark" content="添加顶级节点" placement="bottom">
                        <el-button type="primary" icon="el-icon-plus" @click="handleAddRoot()"></el-button>
                    </el-tooltip>
                    <el-tooltip v-if="authentication(44)" class="item" effect="dark" content="添加下级节点" placement="bottom">
                        <el-button type="primary" icon="el-icon-circle-plus-outline"
                                   @click="handleAdd()"></el-button>
                    </el-tooltip>
                    <el-tooltip v-if="authentication(1)" class="item" effect="dark" content="修改" placement="bottom">
                        <el-button type="primary" icon="el-icon-edit" @click="handleEdit()"></el-button>
                    </el-tooltip>
                    <el-tooltip v-if="authentication(2)" class="item" effect="dark" content="删除" placement="bottom">
                        <el-button type="primary" icon="el-icon-delete" @click="handleDel()"></el-button>
                    </el-tooltip>

                </el-button-group>
            </div>
        </el-header>
        <el-main>
            <ul id="ztree" class="ztree"></ul>
        </el-main>
    </el-container>
</div>


<#include "/comm/js.html">
<#include "/comm/ztree.html">
<script>
    let button = ${button};
    var vue = loadTree({
        data: {
            treeName: 'ztree',
            button: button
        },
        urlList: "${base}/resource/moduleTree",
        urlDel: "${base}/resource/delResource/",
        urlEdit: "${base}/resource/editModuleEntrance/${iframe}",
        dialogWidth: 500,
        dialogHeight: 500,
        title: '资源'
    })
</script>
</body>
</html>



