
<#include "/comm/head.html">
<body>
<style>
    .el-header .el-input__inner{ width:140px; }
    .el-date-editor { width:140px !important; }
    .el-header{ padding: 0 5px }
    .el-main {
        padding: 0px;
        margin: 0px;
        overflow:visible !important;
    }
</style>
<div id="app">
<el-container>
    <el-header>

        <div  style="height:40px;padding-top: 5px;">

            <el-form :inline="true">
                <el-button-group>
                    <el-tooltip v-show="authentication(0)" class="item" effect="dark" content="添加" placement="bottom">
                        <el-button type="primary" icon="el-icon-circle-plus-outline" @click="handleAdd()"></el-button>
                    </el-tooltip>
                    <el-tooltip v-show="authentication(5)" class="item" effect="dark" content="导入" placement="bottom">
                        <el-button type="primary" icon="fa fa-clipboard" @click="importCompany()"></el-button>
                    </el-tooltip>
                    <el-tooltip v-show="authentication(5)" class="item" effect="dark" content="下载模板" placement="bottom">
                        <el-button type="primary" icon="fa fa-arrow-circle-down" @click="downloadCompany()"></el-button>
                    </el-tooltip>
                    <!--<el-tooltip v-show="authentication(2)" class="item" effect="dark" content="批量删除" placement="bottom">
                        <el-button type="primary" icon="el-icon-delete" @click="handleDelBatch()"></el-button>
                    </el-tooltip>-->

                </el-button-group>
                <el-form-item label="名称">
                    <el-input style="wdith:60px"  v-model="search.name.data" placeholder="请输入内容"></el-input>
                </el-form-item>
                <el-form-item label="修改人">
                    <el-input style="wdith:60px"  v-model="search.editor.data" placeholder="请输入内容"></el-input>
                </el-form-item>
                <el-form-item label="修改时间">
                    <el-date-picker   style="wdith:80px"
                            v-model="search.gmtModified[0].data"
                            type="date"
                            format="yyyy-MM-dd"
                            value-format="yyyy-MM-dd 00:00:00.000"
                            @change="checkSelectDate(search)"
                            placeholder="请选择日期">
                    </el-date-picker> 至 <el-date-picker    style="wdith:80px"
                        v-model="search.gmtModified[1].data"
                        type="date"
                        format="yyyy-MM-dd"
                        value-format="yyyy-MM-dd 23:59:59.999"
                        @change="checkSelectDate(search)"
                        placeholder="请选择日期">
                    </el-date-picker>
                </el-form-item>
               
               
               
               
                <el-button-group>
                    <el-tooltip v-show="authentication(3)" class="item" effect="dark" content="搜索" placement="bottom">
                        <el-button type="primary" icon="el-icon-search" @click="handleSearch()"></el-button>
                    </el-tooltip>
                    <el-tooltip v-show="authentication(3)" class="item" effect="dark" content="清空" placement="bottom">
                        <el-button type="primary" icon="fa fa-repeat" @click="handleReset()"></el-button>
                    </el-tooltip>
                </el-button-group>
            </el-form>

        </div>
    </el-header>
    <el-main>
            <el-table
                    row-style="height:15px"
                    cell-style="padding:5px"
                    :header-cell-style="{
                        'background-color': '#fafafa',
                        'color': '#333',
                        'border-bottom': '1px solid #fafafa'
                    }"
                    :data="tableData"
                    style='width:100%;'
                    :height="tableHeight"
                    @selection-change="handleSelectionChange"
                    border>
                <el-table-column
                        type="selection"
                        width="55">
                </el-table-column>
                <el-table-column
                        type="index"
                        label="序号"
                        width="50">
                </el-table-column>
                <el-table-column
                        prop='name'
                        min-width="180"
                        label="企业名称">
                </el-table-column>
                <el-table-column
                        prop='address'
                        min-width="320"
                        label="企业地址">
                </el-table-column>
                <el-table-column
                        prop='phone'
                        label="联系方式">
                </el-table-column>
                <!--<el-table-column
                        prop='notes'
                        label="备注">
                </el-table-column>-->
                <el-table-column
                        prop='editor'
                        :formatter="formatterEditor"
                        label="修改人">
                </el-table-column>
                <el-table-column
                        prop='modified'
                        min-width="180"
                        label="修改时间">
                </el-table-column>

                <el-table-column
                        fixed="right"
                        label="操作"
                        width="180">
                    <template slot-scope="scope">

                        <el-button v-show="authentication(2)"
                                size="small"
                                type="text"
                                @click="handleDel(scope.$index, scope.row)">删除</el-button>

                        <el-button v-show="authentication(1)"
                                size="small"
                                type="text"
                                @click="handleEdit(scope.$index, scope.row)">修改</el-button>
                                
                        <el-button v-show="authentication(7)"
                                size="small"
                                type="text"
                                @click="handleChangeOrder(scope.row.id,0)">上移</el-button>

                        <el-button v-show="authentication(7)"
                                size="small"
                                type="text"
                                @click="handleChangeOrder(scope.row.id,1)">下移</el-button>
                    </template>
                </el-table-column>
            </el-table>

            <div align="center">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="[10, 20, 30, 40]"
                        :page-size="pagesize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="totalCount">
                </el-pagination>
            </div>
    </el-main>
</el-container>
</div>

<#include "/comm/js.html">

<script type="text/javascript">

    var vue = loadTable({
            data:{
                button:${button},
                search:{
                    name:{op:"cn",data:""},
                    editor:{op:"cn",data:""},
                    gmtModified:[{op:"ge",data:""},{op:"le",data:""}]
                }
            },
            urlList:"${base}/company/listByPage",
            urlDel:"${base}/company/del/",
            urlEdit:"${base}/company/view/editEntrance/${iframe}",
            urlChangeOrder:"${base}/company/changeOrder",
            urlExport:"${base}/company/export/excel",
            dialogWidth:800,
            dialogHeight:350,
            title:'',
            dialogIndex:0,
            methods:{
                importCompany: function(){
                    v.dialogShow(1, {
                        title: '公司批量导入',
                        url: '${base}/company/companyImportEntrance/${iframe}',
                        width: 450,
                        height: 200
                    })
                },
                downloadCompany: function(){
                    window.location.href = '${base}/company/downloadCompanyTemplate'
                },
                formatterEditor: function (row, column, cellValue, index) {
                    return cellValue.split(".")[1];
                }
            }
        });




</script>
</body>
</html>