<#include "/comm/head.html">
<body>
<div id="app">

    <div class="demo-form-inline" style="padding: 5px 20px 0px 0px;width: 100%;">


        <el-form status-icon :model="formData" :rules="rules" ref="formData" label-width="100px" style="width: 95%;">
            <el-row>
                <el-col :span="12">
                    <el-form-item label="服务港名称" prop="name">

                        <el-input v-model="formData.name" placeholder="请输入服务港名称"></el-input>

                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="编号" prop="codeNumber">

                        <el-input v-model="formData.codeNumber" placeholder="请输入编号"></el-input>

                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="联系方式" prop="phone">

                        <el-input v-model="formData.phone" placeholder="请输入联系方式"></el-input>

                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="分机号" prop="extensionNumber">
                        <el-input v-model="formData.extensionNumber" placeholder="请输入分机号"></el-input>
                    </el-form-item>
                </el-col>
                <!--<el-col :span="12">
                    <el-form-item label="排序" prop="sort">
                        <el-input v-model="formData.sort" placeholder="请输入内容"></el-input>
                    </el-form-item>
                </el-col>-->

                <el-col :span="24">
                    <el-form-item label="服务港地址" prop="address">

                        <el-input v-model="formData.address" placeholder="请输入服务港地址"></el-input>

                    </el-form-item>
                </el-col>
                <!--<el-col :span="24">
                    <el-form-item label="坐标信息" prop="lng">
                        <el-input placeholder="请选择地图坐标" type="text" readonly="true"
                                  v-model="formData.lng == '' || formData.lat == '' ? '' : '经度：' + formData.lng + ' 纬度：' +  formData.lat">
                            <template slot="append">
                                <el-button type="primary" icon="el-icon-edit-outline" @click="selectMap()">选择
                                </el-button>
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>-->
                <el-col :span="24">
                    <el-form-item label="区域描点" prop="outpostMapNameList">
                        <el-input placeholder="请选择地图区域" type="text" readonly="true" v-model="formData.outpostMapNameList">
                            <template slot="append">
                                <el-button type="primary" icon="el-icon-edit-outline" @click="selectMapValue()">选择
                                </el-button>
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="10">
                    <el-form-item label="线条颜色">
                        <el-input v-model="formData.linkColor" readonly="true"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="2">
                    <el-form-item label-width="0px">
                        <el-color-picker v-model="formData.linkColor"></el-color-picker>
                    </el-form-item>
                </el-col>
                <el-col :span="10">
                    <el-form-item label="区域颜色">
                        <el-input v-model="formData.regionalColor" readonly="true"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="2">
                    <el-form-item label-width="0px">
                        <el-color-picker v-model="formData.regionalColor"></el-color-picker>
                    </el-form-item>
                </el-col>
                <el-col>
                    <el-form-item label="区域描述" prop="regionalProfile">
                        <el-input
                                type="textarea"
                                :rows="2"
                                placeholder="请输入内容"
                                v-model="formData.regionalProfile">
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col>
                    <el-form-item label="信息简介" prop="notes">
                        <el-input
                                type="textarea"
                                :rows="4"
                                placeholder="请输入内容"
                                v-model="formData.notes">
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-form-item>
                <el-button v-show="btnAddShow" type="success" icon="el-icon-circle-check-outline" @click="add()">继续添加
                </el-button>
                <el-button type="primary" icon="el-icon-check" @click="save()">保存</el-button>
                <el-button type="info" icon="el-icon-close" @click="close()">关闭</el-button>
            </el-form-item>
        </el-form>

    </div>

</div>

<#include "/comm/js.html">

<script type="text/javascript">
    let entity = ${entity};
    let {id = '', name = '',codeNumber = '', address = '', lng = '', lat = '', phone = '', extensionNumber = '', notes = '',linkColor='',regionalColor='',regionalProfile='', sort = '', outpostMapList = "", outpostMapNameList = ""} = entity;
    //let outpostMapName = entity.id ? "" : JSON.stringify(entity.outpostMapList).replace("lng", "经度").replace("lat", "纬度");
    var vue = loadForm(
        {
            methods: {
                beforeSave: function () {
                    if (vue.formData.phone) {
                        var phoneReg1 = new RegExp("^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\\d{8}$");
                        var phoneReg2 = new RegExp("^(\\(\\d{3,4}\\)|\\d{3,4}|\\s)?\\d{7,11}$");
                        if (!phoneReg1.test(vue.formData.phone) && !phoneReg2.test(vue.formData.phone)) {
                            v.$message.error('联系电话格式不正确');
                            return false;
                        }
                    }
                    vue.formData.outpostMapNameList=null;
                    if (vue.formData.extensionNumber) {
                        var testNumber = new RegExp("^[1-9]\\d*$");
                        if (!testNumber.test(vue.formData.extensionNumber)) {
                            v.$message.error('分机号必须是数字');
                            return false;
                        }
                        if (vue.formData.extensionNumber.toString().length > 4) {
                            v.$message.error('分机号不能超过4位');
                            return false;
                        }
                    }
                    if(this.formData.lng == null || this.formData.lat == ''){
                        v.$message.error('请选择区域信息');
                        return false;

                    }

                    //console.log("---vue.formData--"+JSON.stringify(vue.formData));
                    return true;
                },
                selectMapValue: function () {
                    if (vue.formData.lng == null || vue.formData.lng == '') {
                        vue.formData.lng = '116.503893';
                    }
                    if (vue.formData.lat == null || vue.formData.lat == '') {
                        vue.formData.lat = '39.791967';
                    }
                    var entityId;
                    if (vue.formData.id == null || vue.formData.id == '') {
                        entityId = '-1';
                    } else {
                        entityId = vue.formData.id;
                    }
                    console.log(vue.formData.outpostMapList);
                    v.dialogShow(1, {
                        title: '选择服务港区域',
                        url: '${base}/outpost/selectMapValue/dialog0/_bak_method_map_list/' + vue.formData.lng + '/' + vue.formData.lat + '/' + entityId,
                        width: 1200,
                        height: 800
                    })
                },
                _bak_method_map_list: function (lng, lat, outpostMapList) {
                    console.log(JSON.stringify(outpostMapList));
                    if (lng != '' && lat != '') {
                        vue.formData.lng = lng;
                        vue.formData.lat = lat;
                    }

                    vue.formData.outpostMapList = outpostMapList;
                    console.log("======"+JSON.stringify(outpostMapList));
                    var nameList = [];
                    for(var p=0;p<outpostMapList.length;p++){
                        nameList.push(JSON.stringify(outpostMapList[p]).replace("lng", "经度").replace("lat", "纬度"));
                    }
                    nameList.push(lng == '' || lat == '' ? '' : '{经度：' + vue.formData.lng + ' 纬度：' +  vue.formData.lat+"}");
                    vue.formData.outpostMapNameList = nameList;
                    v.dialogHide(1);
                }
            },
            formData: {
                id: id
                , name: name
                , lng: lng
                , lat: lat
                , outpostMapList: outpostMapList
                , outpostMapNameList: id?JSON.stringify(outpostMapNameList):null
                , extensionNumber: extensionNumber
                , address: address
                , phone: phone
                , notes: notes
                , sort: sort
                , codeNumber: codeNumber
                , linkColor: id?linkColor:'#409EFF'
                , regionalColor: id?regionalColor:'#923B3B'
                , regionalProfile: regionalProfile
            },
            rules: {
                name: [
                    {required: true, message: '请输入服务港名称', trigger: 'blur'},
                    {min: 1, max: 20, message: '服务港名称长度在 1 到 20 个字符', trigger: 'blur'}
                ],
                phone: [
                    {required: true, message: '请输入联系方式', trigger: 'blur'},
                    {min: 8, max: 11, message: '联系方式长度在 8 到 11 个字符', trigger: 'blur'}
                ],
                codeNumber: [
                    {required: true, message: '请输入服务港编号', trigger: 'blur'},
                    {min: 1, max: 10, message: '编号长度不超过10个字符', trigger: 'blur'}
                ],

                // ,extensionNumber:[{required: false, message: '排序内容必须是数字', trigger: 'blur'}]
                // , outpostMapNameList: [
                //     {required: true, message: '请选择坐标', trigger: 'change'}
                // ],
                /*,
                address:[
                    { required: true, message: '请输入', trigger: 'blur' },
                    { min: 1, max: 255, message: '服务港地址长度在 1 到 255 个字符', trigger: 'blur' }
                ],
                phone:[
                    { required: true, message: '请输入', trigger: 'blur' },
                    { min: 1, max: 20, message: '联系方式长度在 1 到 20 个字符', trigger: 'blur' }
                ],*/
                notes: [
                    {required: false, message: '请输入', trigger: 'blur'},
                    {min: 1, max: 255, message: '备注的长度在 1 到 1000 个字符', trigger: 'blur'}
                ],
                regionalProfile: [
                    {required: true, message: '请输入区域描述信息', trigger: 'blur'},
                    {min: 1, max: 150, message: '描述信息的长度不超过 150 个字符', trigger: 'blur'}
                ]
            },
            data: {
                btnAddShow: (entity.id ? false : true),
                linkColor: (entity.id ? entity.linkColor : '#409EFF'),
                regionalColor: (entity.id ? entity.regionalColor : '#923B3B')
            },
            urlSave: '${base}/outpost/save',
            dialogIndex: 0,
            iframe: '${iframe}'
        }
    );

</script>
</body>
</html>

