
<#include "/comm/head.html">
<body>
<style>
    .el-header .el-input__inner{ width:140px; }
    .el-date-editor { width:140px !important; }
    .el-main {
        padding: 0px;
        margin: 0px;
        overflow:visible !important;
    }
</style>
<div id="app">
<el-container>
    <el-header>

        <div  style="height:40px;padding-top: 5px;">

                <el-button-group>

                    <el-button type="primary" v-show="1" icon="el-icon-search" @click="getSelectedInfo(false,true)">确认</el-button>
                </el-button-group>

        </div>
    </el-header>
    <el-main>
        <ul id="ztree" class="ztree"></ul>
    </el-main>
</el-container>
</div>
<#include "/comm/js.html">
<#include "/comm/ztree.html">

<script type="text/javascript">

    var vue = loadTree({
        // setting:{
        //     check: {
        //         enable: true
        //     }
        // },
        ${multiple}
        data:{
            treeName:'ztree',
            search:{
                //编号_数据字典 上个页面传递进来的
                idSysDictionary:{op:"eq",data:'${idSysDictionary}'}
            }
        },
        // urlList:$.isEmptyObject(${selectList})==""?
        // "${base}/dictionaryitem/tree":
        // "${base}/dictionaryitem/tree?selectList="+${selectList},
        urlList:"${base}/dictionaryitem/tree?selectList=${selectList}",
        urlDel:"",
        urlEdit:"",
        dialogWidth:350,
        dialogHeight:800,
        title:'数据字典项',

        methods:{
            getSelectedInfo(halfSelect,leaf){
                let treeObj = $.fn.zTree.getZTreeObj(this.treeName);
                let nodes = ${multipleFlag}==1 ? treeObj.getCheckedNodes() : treeObj.getSelectedNodes();
                let resultNodes;
                switch (${reqType}){
                    // 1 只取叶子节点 2 取半选中状态节点 3 不取半选中状态节点
                    case 1:
                        resultNodes =nodes.filter(item => item.children.length== 0);
                        if(resultNodes.length == 0) alert("请选择叶子节点");
                        break;
                    case 2:
                        resultNodes =nodes;
                        break;
                    case 3:
                        resultNodes = nodes.filter(item => item.getCheckStatus().half != true);
                        break;
                    default:
                }
                let result=[];
                for(var i=0;i<resultNodes.length;i++){
                    result.push({id:resultNodes[i].id,text:resultNodes[i].text,level:resultNodes[i].level
                    ,gradationCode:resultNodes[i].attr.gradationCode })
                }
                // alert(result[0].gradationCode);  //取json中的值

                window.parent.frames["${iframe}"].contentWindow.vue.${method}(${idSysDictionary},result);
            }
        }

    })


</script>
</body>
</html>