<#include "/comm/head.html">
<body>
<div id="app_column">

    <el-tree :data="data3" :default-expanded-keys="defaultOpen" show-checkbox node-key="id" ref="tree" :props="defaultProps"  @check-change="handleClick"
             check-strictly>
    </el-tree>
    <div class="buttons" style="margin-top: 15px;">
        <el-button type="primary" icon="el-icon-check" @click="getCheckedNodes">保存</el-button>
        <el-button type="info" icon="el-icon-close" @click="_close()">关闭</el-button>
    </div>
</div>

<#include "/comm/js.html">

<script type="text/javascript">

    var v = window.parent.vue;
    var Main = {
        methods: {
            getCheckedNodes:function() {
                var val = this.$refs.tree.getCheckedNodes();
                if (val.length < 1){
                    v.$message.error("请至少选择一个");
                    return;
                }
                window.parent.frames["${iframe}"].contentWindow.vue.${method}(val);
                v.dialogHide(3);
            },
            disabledFn:function(data) {
                if (!data.children.length > 0) {
                    return false;
                } else {
                    return true;
                }
            },
            handleClick:function(data,checked, node) {
                this.i++;
                if(this.i%2==0){
                    if(checked){
                        this.$refs.tree.setCheckedNodes([]);
                        this.$refs.tree.setCheckedNodes([data]);
                    }else{
                        this.$refs.tree.setCheckedNodes([]);
                    }
                }
            },
            _close:function(){
                v.dialogHide(3);
            }
        },
        data() {
            return {
                data3:${columns},
                defaultProps: {
                    children: 'children',
                    label: 'text',
                    disabled: this.disabledFn
                },
                defaultOpen:${defaultOpen},
                i:0
            };
        }
    };
    var Ctor = Vue.extend(Main);
    new Ctor().$mount('#app_column')

</script>

</body>

