<#include "/comm/head.html">
<body>
<div id="app">

    <div class="demo-form-inline" style="height:40px;padding-top: 5px;">


        <el-form status-icon :model="formData" :rules="rules" ref="formData">

            <el-form-item label="备注" prop="notes">
                    
                <el-input type="textarea" v-model="formData.notes"></el-input>                  
           </el-form-item>  
            <el-form-item label="雇员工号" prop="jobNumber">
                    <el-input v-model="formData.jobNumber" placeholder="请输入内容"></el-input>
           </el-form-item>  
            <el-form-item label="雇员名称" prop="name">
                    <el-input v-model="formData.name" placeholder="请输入内容"></el-input>
           </el-form-item>  
            <el-form-item label="雇员性别" prop="sex">
                    
                <el-select v-model="formData.sex" placeholder="请选择雇员性别" >
                    <el-option value="" label="请选择雇员性别"></el-option>
                    <el-option v-for="(item, index) in sexList" :key="item.id" :value="item.id" :label="item.name"></el-option>
                </el-select>                    
           </el-form-item>  
            <el-form-item label="雇员类型" prop="employeeType">
                    
                <el-select v-model="formData.employeeType" placeholder="请选择雇员类型" >
                    <el-option value="" label="请选择雇员类型"></el-option>
                    <el-option v-for="(item, index) in employeeTypeList" :key="item.id" :value="item.id" :label="item.name"></el-option>
                </el-select>                    
           </el-form-item>  
            <el-form-item label="出生日期" prop="birthday">
                    <el-input v-model="formData.birthday" placeholder="请输入内容"></el-input>
           </el-form-item>  
            <el-form-item label="入职日期" prop="hiredate">
                    <el-input v-model="formData.hiredate" placeholder="请输入内容"></el-input>
           </el-form-item>  
            <el-form-item label="最高学历" prop="education">
                    
                    <el-input v-model="formData.educationTitle" readonly="true"></el-input><el-button type="primary" icon="el-icon-search" @click="seleducation()">选择</el-button>
                    <input type="hidden" value="formData.education" />
                <el-select v-model="formData.education" placeholder="请选择最高学历" >
                    <el-option value="" label="请选择最高学历"></el-option>
                    <el-option v-for="(item, index) in flagList" :key="item.value" :value="item.id" :label="item.name"></el-option>
                </el-select>                    
           </el-form-item>  
            <el-form-item label="毕业学校" prop="school">
                    <el-input v-model="formData.school" placeholder="请输入内容"></el-input>
           </el-form-item>  
            <el-form-item label="家庭住址" prop="homeAddress">
                    <el-input v-model="formData.homeAddress" placeholder="请输入内容"></el-input>
           </el-form-item>  
            <el-form-item label="联系电话" prop="phone">
                    <el-input v-model="formData.phone" placeholder="请输入内容"></el-input>
           </el-form-item>  
            <el-form-item label="所在部门" prop="rbacDepartmentId">
                    <el-input v-model="formData.rbacDepartmentId" placeholder="请输入内容"></el-input>
           </el-form-item>  
            <el-form-item label="工作年限" prop="workingAge">
                    <el-input v-model="formData.workingAge" placeholder="请输入内容"></el-input>
           </el-form-item>  
            <el-form-item>
                <el-button v-show="btnAddShow" type="success" icon="el-icon-circle-check-outline" @click="add()">继续添加</el-button>
               <el-button type="primary" icon="el-icon-check" @click="save()">保存</el-button>
                <el-button type="info" icon="el-icon-close" @click="close()">关闭</el-button>
            </el-form-item>
        </el-form>

    </div>

</div>

<#include "/comm/js.html">

<script type="text/javascript">
    var vue = loadForm(
        {
            methods:{
                seleducation: function(){
                    v.dialogShow(4,{title:"字典项选择",url:'${base}/apiDictionaryItem/moduleEntrance/dic/${iframe}/education/2/0/seleducation_back'
                    ,width:350,height:800});
                },
                seleducation_back: function(dic,nodes){
                    this.education = nodes[0].id;
                    this.educationTitle = nodes[0].name;
                }
            },
            formData:...{{
                    id:id,
                },${entity}
            },
            rules: {
                sort:{ required: true, message: '请输入排序', trigger: 'blur' },
                notes:{ required: true, message: '请输入备注', trigger: 'blur' },
                jobNumber:{ required: true, message: '请输入雇员工号', trigger: 'blur' },
                name:{ required: true, message: '请输入雇员名称', trigger: 'blur' },
                sex:{ required: true, message: '请输入雇员性别', trigger: 'blur' },
                employeeType:{ required: true, message: '请输入雇员类型', trigger: 'blur' },
                birthday:{ required: true, message: '请输入出生日期', trigger: 'blur' },
                hiredate:{ required: true, message: '请输入入职日期', trigger: 'blur' },
                education:{ required: true, message: '请输入最高学历', trigger: 'blur' },
                school:{ required: true, message: '请输入毕业学校', trigger: 'blur' },
                homeAddress:{ required: true, message: '请输入家庭住址', trigger: 'blur' },
                phone:{ required: true, message: '请输入联系电话', trigger: 'blur' },
                rbacDepartmentId:{ required: true, message: '请输入所在部门', trigger: 'blur' },
                workingAge:{ required: true, message: '请输入工作年限', trigger: 'blur' },
            },
            data:{
                btnAddShow:(entity.id?false:true)
                ,sexList:[
                    {id:'10',name:'男'},
                    {id:'20',name:'女'},
                    {id:'30',name:'未知'},
                ]
                ,employee_typeList:[
                    {id:'10',name:'临时工'},
                    {id:'20',name:'正式工'},
                ]
            },
            urlSave:'${base}/employee/save',
            iframe:'${iframe}'
        }
    );


</script>
</body>
</html>

