
<#include "/comm/head.html">
<body>
<div id="app">

    <div class="demo-form-inline" style="height:40px;padding-top: 5px;width: 400px!important;">


        <el-form status-icon :model="formData" :rules="rules" ref="formData">
            <el-form-item label="机构名称" prop="name">
                <el-input v-model="formData.name" placeholder="请输入内容"></el-input>
            </el-form-item>
            <el-form-item label="备注" prop="notes">
                <el-input v-model="formData.notes" style="wdith:80px;height: 80px;" type="textarea" placeholder="请输入内容"></el-input>
            </el-form-item>
            <!--<el-form-item label="机构类型" prop="depType">
                &lt;!&ndash;1 web,2 android,3 ios,4 微信,5 小程序&ndash;&gt;
                <el-select v-model="formData.depType" placeholder="请选择机构类型" >
                    <el-option value="" label="请选择机构类型"></el-option>
                    <el-option v-for="(item, index) in depTypeList" :key="item.value" :value="item.id" :label="item.name"></el-option>
                </el-select>
            </el-form-item>-->
            <el-form-item>
                <el-button type="primary" icon="el-icon-check" @click="save()">保存</el-button>
                <el-button type="info" icon="el-icon-close" @click="close()">关闭</el-button>
            </el-form-item>
        </el-form>

    </div>

</div>

<#include "/comm/js.html">

<script type="text/javascript">
    let entity = ${entity};
    let {id=null,notes='',name=''} = entity;
    var vue = loadForm(
        {
            methods:{},
            formData:{
                id:id
                ,idParent:'${idParent}'
                ,gradationCode:'${gradationCode}'
                ,notes:notes
                ,name:name
                //,depType:depType == null ? '':depType+''
            },
            rules: {
                notes:{ required: true, message: '请输入备注', trigger: 'blur' },
                name:{ required: true, message: '请输入机构名称', trigger: 'blur' }
                //,depType:{ required: true, message: '请选择机构类型', trigger: 'blur' }
            },
            data:{
                depTypeList:[
                    {id:'1',name:'公司'},
                    {id:'2',name:'党委'},
                    {id:'3',name:'支部'}
                ],
                btnAddShow:(entity.id?false:true)
            },
            urlSave:'${base}/department/save',
            iframe:'${iframe}'
        }
    );


</script>
</body>
</html>

