<#include "/comm/head.html"/>
<body>
<style>
    .el-dialog {
        position: relative;
        margin: 0 auto 50px;
        border-radius: 2px;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
        box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
        box-sizing: border-box;
        width: 85%!important;
        margin-top: 7vh!important;
    }
    .el-upload-list--picture-card .el-upload-list__item {
        overflow: hidden;
        background-color: #fff;
        border: 1px solid #c0ccda;
        border-radius: 6px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 95px;
        height: 95px;
        margin: 0 8px 8px 0;
        display: inline-block;
    }

    .el-upload--picture-card {
        background-color: #fbfdff;
        border: 1px dashed #c0ccda;
        border-radius: 6px;
        box-sizing: border-box;
        width: 95px;
        height: 95px;
        line-height: 100px;
        vertical-align: top;
    }

    .el-progress-circle {
        display: table;
        margin: 0 auto;
        width: auto !important;
        height: auto !important;

    }
    .el-progress-circle svg{
        width: 95px;
        height: 95px;
    }
</style>
<div id="app">

    <div class="demo-form-inline" style="padding: 5px 20px 0px 0px;width: 100%;">


        <el-form status-icon :model="formData" :rules="rules" ref="formData" label-width="100px" style="width: 100%;">
            <el-row>

                <el-col>
                    <el-form-item label="需求标题" prop="title" >

                        <el-input v-model="formData.title" placeholder="请输入内容" :disabled="true"></el-input>

                    </el-form-item>
                </el-col>

                <el-col :span="12">
                    <el-form-item label="需求状态" prop="status">

                        <el-select v-model="formData.status" placeholder="请选择需求状态"  @change="changeStatusFunction">
                            <el-option value="" label="请选择需求状态"></el-option>
                            <el-option v-for="(item, index) in statusList" :key="item.id" :value="item.id"
                                       :label="item.name"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>

                <el-col :span="12">
                    <el-form-item label="企业党组织" prop="enterpriseName">
                        <el-input placeholder="请选择企业党组织" type="text" readonly="true" v-model="formData.enterpriseName" :disabled="true">
                            <template slot="append">
                                <el-button type="primary" icon="el-icon-edit-outline" @click="selectEnterpriseName()">
                                    选择
                                </el-button>
                            </template>
                        </el-input>
                        <input type="hidden" value="formData.idEnterprise"/>

                    </el-form-item>
                </el-col>

                <el-col :span="12">
                    <el-form-item label="需求类型" prop="whistleTypeId">
                        <el-select v-model.number="formData.whistleTypeId" placeholder="请选择" :disabled="true">
                            <el-option value="" label="请选择需求类型"></el-option>
                            <el-option v-for="item in whistleTypeList"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>


                <el-col :span="12">
                    <el-form-item label="联系人名称" prop="contactName">
                        <el-input v-model="formData.contactName" placeholder="请输入内容" :disabled="true"></el-input>
                    </el-form-item>
                </el-col>

                <el-col :span="12">
                    <el-form-item v-if="formData.status != '40'" label="限时反馈" prop="limitDate">
                        <el-date-picker type="date" placeholder="选择日期" value-format="yyyy-MM-dd"
                                        v-model="formData.limitDate"></el-date-picker>
                    </el-form-item>
                </el-col>

                <el-col :span="12">
                    <el-form-item label="联系电话" prop="phone">
                        <el-input v-model="formData.phone" placeholder="请输入内容(手机号或固定电话)" :disabled="true"></el-input>
                    </el-form-item>
                </el-col>


                <div v-if="formData.status != '40'">
                    <input type="hidden" v-model="formData.respDepartmentList">
                    <el-form :model="dynamicValidateForm" ref="dynamicValidateForm" label-width="100px"
                             class="demo-dynamic">
                        <el-col :span="24">

                            <el-form-item
                                    v-for="(domain, index) in dynamicValidateForm.respDepartmentList"
                                    label="响应部门"
                                    :key="domain.id"
                                    :prop="'respDepartmentList.' + index + '.value'"
                                    :rules="{required: true, message: '响应部门不能为空', trigger: 'blur'}">
                                <el-select v-model.number="domain.id" placeholder="请选择">
                                    <el-option value="" label="请选择响应部门"></el-option>
                                    <el-option
                                            v-for="item in dynamicValidateForm.respDepartmentLists"
                                            :key="item.id"
                                            :label="item.name"
                                            :value="item.id">
                                    </el-option>
                                </el-select>
                                <label style="width: 15%;margin-left: 17%;margin-right: 10px; color: #606266;"><span
                                        style="color: red">* </span>受理状态</label>
                                <el-select v-model="domain.statusType" style="width: 20%;"  placeholder="请选择受理状态" @change="changeStatusTypeFunction">
                                    <el-option value="" label="请选择受理状态"></el-option>
                                    <el-option v-for="(item, index) in dynamicValidateForm.typeList" :key="item.statusType"
                                               :value="item.statusType"
                                               :label="item.name"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-form>
                </div>
                <el-col :span="24">
                    <el-form-item label="企业需求" prop="content">
                        <el-input
                                type="textarea"
                                :rows="3"
                                placeholder="请输入内容"
                                v-model="formData.content" :disabled="true">
                        </el-input>
                    </el-form-item>
                </el-col>

                <el-col>
                    <el-form-item label="企业需求图集" prop="fileList">
                        <el-upload
                                :disabled="true"
                                class="upload-demo"
                                :multiple="false"
                                limit="6"
                                action="${file}/server/upload?flag=true"
                                accept=".jpg,.png"
                                :on-remove="handleRemove"
                                :on-preview="handlePictureCardPreview"
                                :on-exceed="handExceed"
                                :on-success="handSuccess"
                                :on-progress="handProgress"
                                :before-upload="handBeforeUpload"
                                :file-list="picList"
                                list-type="picture-card">
                            <i class="el-icon-plus"></i>
                            <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，最多可上传6张</div>
                        </el-upload>
                        <el-dialog :visible.sync="dialogVisible">
                            <img width="100%" :src="dialogImageUrl" alt="">
                        </el-dialog>
                    </el-form-item>
                </el-col>

                <el-col v-if="formData.statusType != 0 && formData.status === '30'">
                    <el-form-item v-if="formData.status === '30'" label="办理结果" prop="result">
                        <el-input v-model="formData.result" type="textarea"
                                  :rows="3" placeholder="请输入内容"></el-input>

                    </el-form-item>
                </el-col>
                <el-col v-if="formData.statusType===0 && formData.status === '20'">
                    <el-form-item label="拒绝原因" prop="rejectCause">
                        <el-input v-model="formData.rejectCause" type="textarea"
                                  :rows="3" placeholder="请输入内容"></el-input>
                    </el-form-item>
                </el-col>
                <el-col v-if="formData.statusType != 0 && formData.status === '30'">
                    <el-form-item label="办理结果图集" prop="fileList2">
                        <el-upload
                                class="upload-demo"
                                :multiple="false"
                                limit="6"
                                action="${file}/server/upload?flag=true"
                                accept=".jpg,.png"
                                :on-remove="resultHandleRemove"
                                :on-exceed="resultHandExceed"
                                :on-success="resultHandSuccess"
                                :on-preview="resultHandlePictureCardPreview"
                                :before-upload="resultHandBeforeUpload"
                                :on-progress="resultHandProgress"
                                :file-list="resultPicList"
                                list-type="picture-card">
                            <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，最多可上传6张</div>
                            <i class="el-icon-plus"></i>
                        </el-upload>
                        <el-dialog :visible.sync="dialogVisible">
                            <img width="100%" :src="dialogImageUrl" alt="">
                        </el-dialog>
                    </el-form-item>
                </el-col>


            </el-row>
            <el-form-item>
                <!--<el-button type="success" icon="el-icon-circle-check-outline"
                           @click="addDomain()">新增响应部门
                </el-button>-->
                <el-button type="primary" icon="el-icon-check" @click="submitForm('formData')">保存</el-button>
                <el-button type="info" icon="el-icon-close" @click="close()">关闭</el-button>
            </el-form-item>
        </el-form>

    </div>

</div>

<#include "/comm/js.html"/>
<script src="${base}/lib/login/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
    let entity = ${entity};
    let statusList = ${statusList};
    let respDepartmentLists = ${respDepartmentLists};
    let whistleTypeList = ${whistleTypeList};
    let {id = '', notes = '', title = '', idEnterprise = '', enterpriseName = '', content = '', userId = '', limitDate = '', status = '', result = '', phone = '', contactName = '', whistleTypeId = '', whistleTypeName = '', respDepartmentList = [], statusType='', rejectCause=''} = entity;
    let picList = ${picList};
    let isShow = ${isShow};
    let resultPicList = ${resultPicList};
    var vue = loadForm(
        {
            methods: {
                changeStatusTypeFunction: function(){
                    this.formData.status = '20';
                    this.formData.statusType = vue.dynamicValidateForm.respDepartmentList[0].statusType;
                },
                changeStatusFunction: function(){
                    if(this.formData.status === '30'){
                        vue.dynamicValidateForm.respDepartmentList[0].statusType = 1;
                        this.formData.statusType = 1;
                    }

                },
                handleRemove: function (file, fileList) {
                    axios.get('${file}/server/delete?fileUrl=' + file.url)
                        .then(function (res) {

                        }).catch(function (err) {

                    });
                    var picList = this.formData.picList;
                    for (x in picList) {
                        if (picList[x].url == file.url) {
                            this.formData.picList[x].url = '';
                            var thumbUrl = picList[x].thumbUrl;
                            this.formData.picList[x].thumbUrl = '';
                            this.formData.picList.splice(x,1);
                            axios.get('${file}/server/delete?fileUrl=' + thumbUrl)
                                .then(function (res) {

                                }).catch(function (err) {

                            });
                            break;
                        }
                    }
                    //console.log(this.formData.picList);
                },
                handExceed: function (files, fileList) {
                    if (files.length > 6 || (files.length + fileList.length) > 6) {
                        v.$message({type: 'error', message: '封面图片数量超过限制'});
                    }
                },
                handlePictureCardPreview: function (file) {
                    this.$data.dialogImageUrl = file.url;
                    this.$data.dialogVisible = true;
                },
                handSuccess: function (response, file, fileList) {
                    //上传成功后显示上传按钮
                    $(".el-upload--picture-card").removeAttr("style");
                    try {
                        var fileVo = new Object();
                        fileVo.name = response.body.fileName;
                        fileVo.url = response.body.fileUrl;
                        fileVo.thumbUrl = response.body.thumbUrl;
                        this.formData.picList.push(fileVo);
                    } catch (e) {

                    }
                    //console.log('picList', this.formData.picList);
                },
                handBeforeUpload: function (file) {
                    if (file.name.indexOf(".jpg") == -1 && file.name.indexOf(".png") == -1) {
                        v.$message({type: 'error', message: '封面图必须是.jpg或.png格式'});
                        return false;
                    }
                },
                handProgress: function(){
                    //文件上传时移除上传文件的按钮
                    $(".el-upload--picture-card").attr("style","display: none;");
                },
                resultHandleRemove: function (file, fileList) {
                    /*axios.get('${file}/server/delete?fileUrl=' + file.url)
                        .then(function (res) {

                        }).catch(function (err) {

                    });*/
                    var resultPicList = this.formData.resultPicList;
                    for (x in resultPicList) {
                        if (resultPicList[x].url == file.url) {
                           // var thumbUrl = resultPicList[x].thumbUrl;
                            this.formData.resultPicList.splice(x,1);
                            /*axios.get('${file}/server/delete?fileUrl=' + thumbUrl)
                                .then(function (res) {

                                }).catch(function (err) {

                            });*/
                            break;
                        }
                    }
                    //console.log(this.formData.picList);
                },
                resultHandExceed: function (files, fileList) {
                    if (files.length > 6 || (files.length + fileList.length) > 6) {
                        v.$message({type: 'error', message: '封面图片数量超过限制'});
                    }
                },
                resultHandlePictureCardPreview: function (file) {
                    this.$data.dialogImageUrl = file.url;
                    this.$data.dialogVisible = true;
                },
                resultHandSuccess: function (response, file, fileList) {
                    //上传成功后显示上传按钮
                    $(".el-upload--picture-card").removeAttr("style");
                    try {
                        var fileVo = new Object();
                        fileVo.name = response.body.fileName;
                        fileVo.url = response.body.fileUrl;
                        fileVo.thumbUrl = response.body.thumbUrl;
                        this.formData.resultPicList.push(fileVo);
                    } catch (e) {

                    }
                    //console.log('picList', this.formData.picList);
                },
                resultHandBeforeUpload: function (file) {
                    if (file.name.indexOf(".jpg") == -1 && file.name.indexOf(".png") == -1) {
                        v.$message({type: 'error', message: '封面图必须是.jpg或.png格式'});
                        return false;
                    }
                },
                resultHandProgress: function(){
                    //文件上传时移除上传文件的按钮
                    $(".el-upload--picture-card").attr("style","display: none;");
                },
                addDomain: function () {
                    this.dynamicValidateForm.respDepartmentList.push({
                        id: '', type: ''
                    });
                }, removeDomain: function (item) {
                    var index = this.dynamicValidateForm.respDepartmentList.indexOf(item);
                    if (index !== -1) {
                        this.dynamicValidateForm.respDepartmentList.splice(index, 1)
                    }
                }, submitForm: function (formName) {
                    this.$refs[formName].validate(function (valid) {
                        if (valid) {
                            var status = vue.formData.status;
                            var title = vue.formData.title.trim();
                            if(title === '' || title === null){
                                v.$message({type: 'error', message: '请填写需求标题'});
                                return false;
                            }
                            var content = vue.formData.content.trim();
                            if(content === '' || content === null){
                                v.$message({type: 'error', message: '请填写企业需求'});
                                return false;
                            }
                            //var result = vue.formData.result;
                            /*if (status === '40') {
                                v.$message({type: 'error', message: '请在《办理结果》处填写驳回原因'});
                                return false;
                            }*/
                            var respDepartList = vue.dynamicValidateForm.respDepartmentList;
                            var m = 0;
                            //console.log(status.toString()!='40');
                           // console.log(status === 40);
                            var phoneReg1 = new RegExp("^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\\d{8}$");
                            var phoneReg2 = new RegExp("^(\\(\\d{3,4}\\)|\\d{3,4}|\\s)?\\d{7,11}$");
                            if(!phoneReg1.test(vue.formData.phone) && !phoneReg2.test(vue.formData.phone)){
                                v.$message.error('联系电话格式不正确');
                                return false;
                            }
                            if (status != "40") {
                                for (var i = 0; i < respDepartList.length; i++) {
                                    if (!respDepartList[i].id || respDepartList[i].id == null || !respDepartList[i].statusType || respDepartList[i].statusType == null) {
                                        v.$message({type: 'error', message: '请重新选择响应部门和受理状态'});
                                        return false;
                                    }
                                    if (respDepartList[i].type === 10) {
                                        m++;
                                    }
                                }
                                /*if (m === 0 || m > 1) {
                                    v.$message({type: 'error', message: '请选择一个主责部门'});
                                    return false;
                                }*/
                            }
                            //console.log(JSON.stringify(vue.dynamicValidateForm.respDepartmentList));
                            vue.formData.respDepartmentList = vue.dynamicValidateForm.respDepartmentList;
                            vue.save();
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                }
                , resetForm: function (formName) {
                    this.$refs[formName].resetFields();
                },
                selectEnterpriseName: function () {
                    var wid = this.formData.idEnterprise == '' ? 0 : this.formData.idEnterprise;
                    var getOutpostUrl = '${base}/company/view/userSelectCompanyEntrance/dialog0/bak_method_company/' + wid;
                    v.dialogShow(2, {
                        title: '企业列表',
                        url: getOutpostUrl,
                        width: 900,
                        height: 500
                    });
                },
                bak_method_company: function (data) {
                    this.formData.idEnterprise = data.id;
                    this.formData.enterpriseName = data.name;
                }
            },
            formData: {
                id: id
                , notes: notes
                , idEnterprise: idEnterprise
                , enterpriseName: enterpriseName
                , content: content
                , title: title
                , userId: userId
                , respDepartmentList: respDepartmentList
                , limitDate: limitDate
                , status: status.toString()
                , statusType: statusType
                , result: result
                , contactName: contactName
                , phone: phone
                , whistleTypeId: whistleTypeId
                , whistleTypeName: whistleTypeName
                , picList: picList
                , isShow: isShow
                , resultPicList:resultPicList
                , rejectCause: rejectCause

            },
            rules: {
                enterpriseName: [
                    {required: true, message: '请选择企业', trigger: 'change'}
                ],
                whistleTypeId: [
                    {required: true, message: '请选择需求类型', trigger: 'change'}
                ],
                title: [
                    {required: true, message: '请输入需求标题', trigger: 'blur'},
                    {min: 1, max: 50, message: '长度在 1 到 50 个字符', trigger: 'blur'}
                ],
                content: [
                    {required: true, message: '请输入企业需求', trigger: 'blur'},
                    {min: 1, max: 2000, message: '长度在 1 到 2000 个字符', trigger: 'blur'}
                ],
                limitDate: [
                    {required: true, message: '请选择日期', trigger: 'change'}
                ],
                status: [
                    {required: true, message: '请选择需求状态', trigger: 'change'}
                ],
                whistleTypeName: [
                    {required: true, message: '请选择需求类型', trigger: 'blur'}
                ],
                contactName: [
                    {required: true, message: '请输入联系人', trigger: 'blur'}
                ],
                phone: [
                    {required: true, message: '请输入联系电话', trigger: 'blur'},
                    {min: 8, max: 11, message: '联系电话长度在 8 到 11 个数字', trigger: 'blur'}
                ],
                notes: [
                    {required: true, message: '请输入驳回原因', trigger: 'blur'},
                    {min: 1, max: 200, message: '驳回原因长度在 1 到 200 个字符', trigger: 'blur'}
                ],
                result: [
                    {required: true, message: '请输入办理结果', trigger: 'blur'},
                    {min: 1, max: 200, message: '办理结果长度在 1 到 200 个字符', trigger: 'blur'}
                ]
            },
            data: {
                btnAddShow: (entity.id ? false : true)
                ,  statusList: [
                     {id: '20', name: '受理中'}
                    , {id: '30', name: '已解决'}
                ]
                //, departmentList: departmentList
                , whistleTypeList: whistleTypeList
                , dynamicValidateForm: {
                    respDepartmentList: (entity.id ? entity.respDepartmentList.length === 0 ? [{id: '', statusType: 1}] : entity.respDepartmentList : [{id: '', statusType: 1}])
                    , respDepartmentLists: respDepartmentLists
                    , typeList: [
                        {statusType: 1, name: '接受'}
                        , {statusType: 0, name: '拒绝'}
                    ]
                }
                , picList: picList
                , dialogImageUrl: ''
                , dialogVisible: false
                , resultPicList:resultPicList
            },
            urlSave: '${base}/enterprisewhistle/save',
            dialogIndex: 0,
            iframe: '${iframe}'
        }
    );


</script>
</body>

