<#include "/comm/head.html"/>
<body>
<div id="app">

    <div class="demo-form-inline" style="padding: 5px 20px 0 0;">


        <el-form status-icon :model="formData" :rules="rules" ref="formData" label-width="80px" style="width: 100%;">
            <el-row>
                <el-col :span="24">
                    <el-form-item label="机构名称" prop="name">

                        <el-input style="width: 280px;" v-model="formData.name" placeholder="请输入内容"></el-input>

                    </el-form-item>
                </el-col>

            </el-row>
            <el-form-item>
                <el-button type="primary" icon="el-icon-check" @click="save()">保存</el-button>
                <el-button type="info" icon="el-icon-close" @click="close()">关闭</el-button>
            </el-form-item>
        </el-form>

    </div>

</div>

<#include "/comm/js.html"/>

<script type="text/javascript">
    let entity = ${entity};
    let {id = '', sort = '', notes = '', name = ''} = entity;
    var vue = loadForm(
        {
            methods: {},
            formData: {
                id: id
                , notes: notes
                , name: name
            },
            rules: {
              /*  notes: [
                    {required: true, message: '请输入备注', trigger: 'blur'},
                    {min: 1, max: 255, message: '长度在 1 到 255 个字符', trigger: 'blur'}
                ],*/
                name: [
                    {required: true, message: '请输入机构名称', trigger: 'blur'},
                    {min: 1, max: 12, message: '长度在 1 到 12 个字符', trigger: 'blur'}
                ]
            },
            data: {
                btnAddShow: (entity.id ? false : true)
            },
            urlSave: '${base}/respdepartment/save',
            dialogIndex: 0,
            iframe: '${iframe}'
        }
    );


</script>
</body>

