
<#include "/comm/head.html">
<body>
<style>
    /*.el-input__inner{ width:130px; }*/
    .el-header  {
    }
    .el-header .el-input__inner{ width:140px; }
    .el-date-editor { width:140px !important; }
    .el-main {
        padding: 0px;
        margin: 0px;
        overflow:visible !important;
    }
</style>
<div id="app">
<el-container>
    <el-header>

        <div  style="height:20px;padding-top: 5px;">

            <el-form :inline="true">
                <el-button type="primary" icon="el-icon-circle-plus" @click="dis()">待分配列表</el-button>
            </el-form>

        </div>
    </el-header>
    <el-main>
            <el-table
                    row-style="height:15px"
                    cell-style="padding:5px"
                    :data="tableData"
                    style='width:97%;'
                    :height="tableHeight"
                    @selection-change="handleSelectionChange"
                    fit="true"
                    border>
                <el-table-column
                        type="selection"
                        width="55">
                </el-table-column>
                <el-table-column
                        type="index"
                        label="序号"
                        width="50">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="角色名称">
                </el-table-column>

                <el-table-column
                        prop="notes"
                        label="备注">
                </el-table-column>

                <!--<el-table-column
                        prop="creator"
                        label="创建人">
                </el-table-column>

                <el-table-column width="200"
                        prop="gmtModified"
                        label="创建时间">
                </el-table-column>-->

                <el-table-column
                        fixed="right"
                        label="操作"
                        width="100">
                    <template slot-scope="scope">
                        <el-button
                                type="danger"
                                size="small"
                                @click="removeDis(scope.row)">解除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>

            <div align="center">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="[10, 20, 30, 40]"
                        :page-size="pagesize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="totalCount">
                </el-pagination>
            </div>
    </el-main>
</el-container>
</div>

<#include "/comm/js.html">

<script type="text/javascript">

    var vue = loadTable({
            data:{
                search:{
                    userId:{op:"eq",data:"${userId}"}
                }
            },
            methods:{
                dis: function () {
                    v.dialogShow(2, {
                        title: '可分配角色列表',
                        url: '${base}/role/userToRoleEntrance/dialog1/${userId}',
                        width: 600,
                        height: 500
                    })
                },
                removeDis:async function (row) {
                    let r = await v.$confirm('此操作将解除用户的角色，是否继续？', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'}).catch(() => {});
                    if(r=='confirm') {
                        let {data} = await axios.post('${base}/user/userRoleLinkRemove',{'id':'${userId}','relationType':0,'moduleId':row.id});
                        if (data.code == 0) {
                            this.$message({type: 'success', message: data.message});
                            this.reload();
                        }
                        else {
                            this.$message({type: 'error', message: data.message});
                        }
                    }
                }
            },
            urlList:"${base}/role/userRoleListByPage",
            urlDel:"${base}/role/delRole/",
            urlEdit:"${base}/role/editEntrance/${iframe}",
            dialogWidth:600,
            dialogHeight:500,
            title:'角色'
        });

</script>
</body>
</html>