
<#include "/comm/head.html">
<body>
<div id="app">

    <div class="demo-form-inline" style="height:40px;padding-top: 5px;">


        <el-form status-icon :model="formData" :rules="rules" ref="formData" label-width="80px">
            <el-form-item label="排序" prop="sort">
                <el-input v-model="formData.sort" placeholder="请输入内容"></el-input>
            </el-form-item>
            <el-form-item label="备注" prop="notes">
                <el-input v-model="formData.notes" placeholder="请输入内容"></el-input>
            </el-form-item>
            <el-form-item label="字典项" prop="name">
                <el-input v-model="formData.name" placeholder="请输入内容"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" icon="el-icon-check" @click="save()">保存</el-button>
                <el-button type="info" icon="el-icon-close" @click="close()">关闭</el-button>
            </el-form-item>
        </el-form>

    </div>

</div>

<#include "/comm/js.html">

<script type="text/javascript">
    let entity = ${entity};
    let {id='',idSysDictionary='',sort='',notes='',name=''} = entity;
    var vue = loadForm(
        {
            methods:{},
            formData:{
                id:id,
                idParent:'${idParent}',
                gradationCode:'${gradationCode}',
                sort:sort
               ,idSysDictionary:'${idSysDictionary}'
               ,notes:notes
               ,name:name
            },
            rules: {
                sort:[
                    { required: true, message: '请输入排序' }
                    ,{ type: 'number', message: '必须为数字'
                        ,transform(value) {
                            return Number(value);
                        }
                    }
                ],
                notes:{ required: true, message: '请输入备注:textarea:', trigger: 'blur' },
                name:{ required: true, message: '请输入字典项', trigger: 'blur' },
            },
            data:{
                btnAddShow:(entity.id?false:true)
            },
            urlSave:'${base}/dictionaryitem/save',
            iframe:'${iframe}'
        }
    );


</script>
</body>
</html>

