
<#include "/comm/head.html">
<body>
<div id="app">
    <div class="demo-form-inline" style="padding-top: 5px;width:80%;">
        <el-form status-icon :model="formData" :rules="rules" label-width="60px">
            <el-form-item label="备注" prop="notes">
                <el-input v-model="formData.notes" placeholder="请输入内容"></el-input>
            </el-form-item>
            <el-form-item label="前缀" prop="serialPrefix">
                <el-input v-model="formData.serialPrefix" placeholder="请输入内容"></el-input>
            </el-form-item>
            <el-form-item label="后缀" prop="serialSuffixes">
                <el-input v-model="formData.serialSuffixes" placeholder="请输入内容"></el-input>
            </el-form-item>
            <el-form-item label="类型" prop="serialType">
                <!--<el-input v-model="formData.serialType" placeholder="请输入内容"></el-input>-->
                <el-select v-model="formData.serialType" placeholder="请选择类型" >
                    <el-option value="" label="请选择类型"></el-option>
                    <el-option v-for="(item, index) in erialTypeList" :key="item.value" :value="item.id" :label="item.name"></el-option>
                </el-select>
            </el-form-item>
            <!--<el-form-item label="数值" prop="serialVal">-->
                <!--<el-input v-model="formData.serialVal" placeholder="请输入内容"></el-input>-->
            <!--</el-form-item>-->
            <el-form-item label="标识" prop="serialCode">
                <el-input v-model="formData.serialCode" placeholder="请输入内容"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button v-show="btnAddShow" type="success" icon="el-icon-circle-check-outline" @click="add()">继续添加</el-button>
                <el-button type="primary" icon="el-icon-check" @click="save()">保存</el-button>
                <el-button type="info" icon="el-icon-close" @click="close()">关闭</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>

<#include "/comm/js.html">

<script type="text/javascript">
    let entity = ${entity};
    let {id='',notes='',serialPrefix='',serialSuffixes='',serialType='',serialCode=''} = entity;
    var vue = loadForm(
        {
            methods:{},
            formData:{
                id:id
               ,notes:notes
               ,serialPrefix:serialPrefix
               ,serialSuffixes:serialSuffixes
               ,serialType:serialType
//               ,serialVal:serialVal
               ,serialCode:serialCode
            },
            rules: {
                notes:{ required: true, message: '请输入备注:textarea:', trigger: 'blur' },
                serialPrefix:{ required: true, message: '请输入前缀', trigger: 'blur' },
                serialSuffixes:{ required: true, message: '请输入后缀', trigger: 'blur' },
                serialType:{ required: true, message: '请输入类型', trigger: 'blur' },
//                serialVal:{ required: true, message: '请输入数值', trigger: 'blur' },
                serialCode:{ required: true, message: '请输入标识', trigger: 'blur' },
            },
            data:{
                erialTypeList:[
//                    {id:'YMD5',name:'年月日+5位流水'},
//                    {id:'YMD4',name:'年月日时分秒+2位流水'},
//                    {id:'Num8',name:'8位流水'}
                    {id:'1',name:'年月日+5位数字'},
                    {id:'2',name:'年月日时+4位数字'},
                    {id:'3',name:'8位数字'}
                ],
                btnAddShow:(entity.id?false:true)
            },
            urlSave:'${base}/serial/save',
            iframe:'${iframe}'
        }
    );

</script>
</body>
</html>

